@charset "UTF-8";
/* Element Chalk Variables */
/** 全局SCSS变量 */
:root {
  --menu-background: #fff;
  --menu-text: #212121;
  --menu-active-text: var(
    --el-menu-active-color
  );
  --menu-hover: #e6f4ff;
  --sidebar-logo-background: #f5f5f5;
  --sidebar-logo-text-color: #333;
}

/** 浅色主题-深蓝色侧边栏配色 */
html.sidebar-color-blue {
  --menu-background: #304156;
  --menu-text: #bfcbd9;
  --menu-active-text: var(--el-menu-active-color);
  --menu-hover: #263445;
  --sidebar-logo-background: #2d3748;
  --sidebar-logo-text-color: #fff;
}

/** 暗黑主题 */
html.dark {
  --menu-background: var(--el-bg-color-overlay);
  --menu-text: #fff;
  --menu-active-text: var(--el-menu-active-color);
  --menu-hover: rgb(0 0 0 / 20%);
  --sidebar-logo-background: rgb(0 0 0 / 20%);
  --sidebar-logo-text-color: #fff;
  /** WangEditor Dark */
  /* Textarea - css vars */
  --w-e-textarea-bg-color: var(--el-bg-color); /* 深色背景 */
  --w-e-textarea-color: var(--el-text-color-primary); /* 浅色文字 */
  --w-e-textarea-border-color: var(--el-border-color); /* 较深的边框颜色 */
  --w-e-textarea-slight-border-color: var(--el-border-color-lighter); /* 更淡一些的边框颜色 */
  --w-e-textarea-slight-color: var(--el-text-color-secondary); /* 浅灰色，用于不那么重要的元素 */
  --w-e-textarea-slight-bg-color: var(--el-bg-color-overlay); /* 稍微亮一点的背景色 */
  --w-e-textarea-selected-border-color: var(--el-color-info-light-5); /* 选中元素时的高亮边框 */
  --w-e-textarea-handler-bg-color: var(--el-color-primary); /* 工具按钮或交互元素的背景色 */
  /* Toolbar - css vars */
  --w-e-toolbar-color: var(--el-text-color-regular); /* 工具栏文字颜色 */
  --w-e-toolbar-bg-color: var(--el-bg-color); /* 工具栏背景颜色 */
  --w-e-toolbar-active-color: var(--el-text-color-primary); /* 当前激活项的文字颜色 */
  --w-e-toolbar-active-bg-color: var(--el-fill-color-light); /* 当前激活项的背景颜色 */
  --w-e-toolbar-disabled-color: var(--el-text-color-secondary); /* 禁用项的颜色 */
  --w-e-toolbar-border-color: var(--el-border-color-base); /* 工具栏边框颜色 */
  /*  Modal - css vars */
  --w-e-modal-button-bg-color: var(--el-bg-color-light-3); /* 弹出框按钮背景色 */
  --w-e-modal-button-border-color: var(--el-border-color-light); /* 弹出框按钮边框颜色 */
}

:root {
  --el-popup-modal-bg-color: var(--el-color-black);
  --el-popup-modal-opacity: 0.5;
}

.v-modal-enter {
  animation: v-modal-in var(--el-transition-duration-fast) ease;
}

.v-modal-leave {
  animation: v-modal-out var(--el-transition-duration-fast) ease forwards;
}

@keyframes v-modal-in {
  0% {
    opacity: 0;
  }
}
@keyframes v-modal-out {
  100% {
    opacity: 0;
  }
}
.v-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: var(--el-popup-modal-opacity);
  background: var(--el-popup-modal-bg-color);
}

.el-popup-parent--hidden {
  overflow: hidden;
}

.el-message-box {
  --el-messagebox-title-color: var(--el-text-color-primary);
  --el-messagebox-width: 420px;
  --el-messagebox-border-radius: 4px;
  --el-messagebox-box-shadow: var(--el-box-shadow);
  --el-messagebox-font-size: var(--el-font-size-large);
  --el-messagebox-content-font-size: var(--el-font-size-base);
  --el-messagebox-content-color: var(--el-text-color-regular);
  --el-messagebox-error-font-size: 12px;
  --el-messagebox-padding-primary: 12px;
  --el-messagebox-font-line-height: var(--el-font-line-height-primary);
}

.el-message-box {
  display: inline-block;
  position: relative;
  max-width: var(--el-messagebox-width);
  width: 100%;
  padding: var(--el-messagebox-padding-primary);
  vertical-align: middle;
  background-color: var(--el-bg-color);
  border-radius: var(--el-messagebox-border-radius);
  font-size: var(--el-messagebox-font-size);
  box-shadow: var(--el-messagebox-box-shadow);
  text-align: left;
  overflow: hidden;
  backface-visibility: hidden;
  box-sizing: border-box;
  overflow-wrap: break-word;
}
.el-message-box:focus {
  outline: none !important;
}
.is-message-box .el-overlay-message-box {
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 16px;
  overflow: auto;
}
.is-message-box .el-overlay-message-box::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
}

.el-message-box.is-draggable .el-message-box__header {
  cursor: move;
  user-select: none;
}

.el-message-box__header {
  padding-bottom: var(--el-messagebox-padding-primary);
}
.el-message-box__header.show-close {
  padding-right: calc(var(--el-messagebox-padding-primary) + var(--el-message-close-size, 16px));
}

.el-message-box__title {
  font-size: var(--el-messagebox-font-size);
  line-height: var(--el-messagebox-font-line-height);
  color: var(--el-messagebox-title-color);
}

.el-message-box__headerbtn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  background: transparent;
  font-size: var(--el-message-close-size, 16px);
  cursor: pointer;
}
.el-message-box__headerbtn .el-message-box__close {
  color: var(--el-color-info);
  font-size: inherit;
}
.el-message-box__headerbtn:focus .el-message-box__close, .el-message-box__headerbtn:hover .el-message-box__close {
  color: var(--el-color-primary);
}

.el-message-box__content {
  color: var(--el-messagebox-content-color);
  font-size: var(--el-messagebox-content-font-size);
}

.el-message-box__container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.el-message-box__input {
  padding-top: 12px;
}
.el-message-box__input div.invalid > input {
  border-color: var(--el-color-error);
}
.el-message-box__input div.invalid > input:focus {
  border-color: var(--el-color-error);
}

.el-message-box__status {
  font-size: 24px;
}
.el-message-box__status.el-message-box-icon--primary {
  --el-messagebox-color: var(--el-color-primary);
  color: var(--el-messagebox-color);
}
.el-message-box__status.el-message-box-icon--success {
  --el-messagebox-color: var(--el-color-success);
  color: var(--el-messagebox-color);
}
.el-message-box__status.el-message-box-icon--info {
  --el-messagebox-color: var(--el-color-info);
  color: var(--el-messagebox-color);
}
.el-message-box__status.el-message-box-icon--warning {
  --el-messagebox-color: var(--el-color-warning);
  color: var(--el-messagebox-color);
}
.el-message-box__status.el-message-box-icon--error {
  --el-messagebox-color: var(--el-color-error);
  color: var(--el-messagebox-color);
}

.el-message-box__message {
  margin: 0;
  min-width: 0;
}
.el-message-box__message p {
  margin: 0;
  line-height: var(--el-messagebox-font-line-height);
}

.el-message-box__errormsg {
  color: var(--el-color-error);
  font-size: var(--el-messagebox-error-font-size);
  line-height: var(--el-messagebox-font-line-height);
}

.el-message-box__btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  padding-top: var(--el-messagebox-padding-primary);
}

.el-message-box--center .el-message-box__title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.el-message-box--center .el-message-box__status {
  font-size: inherit;
}

.el-message-box--center .el-message-box__btns {
  justify-content: center;
}

.el-message-box--center .el-message-box__container {
  justify-content: center;
}

.el-message-box-parent--hidden {
  overflow: hidden;
}

.fade-in-linear-enter-active .el-overlay-message-box {
  animation: msgbox-fade-in var(--el-transition-duration);
}

.fade-in-linear-leave-active .el-overlay-message-box {
  animation: msgbox-fade-in var(--el-transition-duration) reverse;
}

@keyframes msgbox-fade-in {
  0% {
    transform: translate3d(0, -20px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
/* Element Chalk Variables */
/** 全局SCSS变量 */
:root {
  --menu-background: #fff;
  --menu-text: #212121;
  --menu-active-text: var(
    --el-menu-active-color
  );
  --menu-hover: #e6f4ff;
  --sidebar-logo-background: #f5f5f5;
  --sidebar-logo-text-color: #333;
}

/** 浅色主题-深蓝色侧边栏配色 */
html.sidebar-color-blue {
  --menu-background: #304156;
  --menu-text: #bfcbd9;
  --menu-active-text: var(--el-menu-active-color);
  --menu-hover: #263445;
  --sidebar-logo-background: #2d3748;
  --sidebar-logo-text-color: #fff;
}

/** 暗黑主题 */
html.dark {
  --menu-background: var(--el-bg-color-overlay);
  --menu-text: #fff;
  --menu-active-text: var(--el-menu-active-color);
  --menu-hover: rgb(0 0 0 / 20%);
  --sidebar-logo-background: rgb(0 0 0 / 20%);
  --sidebar-logo-text-color: #fff;
  /** WangEditor Dark */
  /* Textarea - css vars */
  --w-e-textarea-bg-color: var(--el-bg-color); /* 深色背景 */
  --w-e-textarea-color: var(--el-text-color-primary); /* 浅色文字 */
  --w-e-textarea-border-color: var(--el-border-color); /* 较深的边框颜色 */
  --w-e-textarea-slight-border-color: var(--el-border-color-lighter); /* 更淡一些的边框颜色 */
  --w-e-textarea-slight-color: var(--el-text-color-secondary); /* 浅灰色，用于不那么重要的元素 */
  --w-e-textarea-slight-bg-color: var(--el-bg-color-overlay); /* 稍微亮一点的背景色 */
  --w-e-textarea-selected-border-color: var(--el-color-info-light-5); /* 选中元素时的高亮边框 */
  --w-e-textarea-handler-bg-color: var(--el-color-primary); /* 工具按钮或交互元素的背景色 */
  /* Toolbar - css vars */
  --w-e-toolbar-color: var(--el-text-color-regular); /* 工具栏文字颜色 */
  --w-e-toolbar-bg-color: var(--el-bg-color); /* 工具栏背景颜色 */
  --w-e-toolbar-active-color: var(--el-text-color-primary); /* 当前激活项的文字颜色 */
  --w-e-toolbar-active-bg-color: var(--el-fill-color-light); /* 当前激活项的背景颜色 */
  --w-e-toolbar-disabled-color: var(--el-text-color-secondary); /* 禁用项的颜色 */
  --w-e-toolbar-border-color: var(--el-border-color-base); /* 工具栏边框颜色 */
  /*  Modal - css vars */
  --w-e-modal-button-bg-color: var(--el-bg-color-light-3); /* 弹出框按钮背景色 */
  --w-e-modal-button-border-color: var(--el-border-color-light); /* 弹出框按钮边框颜色 */
}

.el-overlay.is-drawer {
  overflow: hidden;
}

.el-drawer {
  --el-drawer-bg-color: var(--el-dialog-bg-color, var(--el-bg-color));
  --el-drawer-padding-primary: var(--el-dialog-padding-primary, 20px);
  --el-drawer-dragger-size: 8px;
}

.el-drawer {
  position: absolute;
  box-sizing: border-box;
  background-color: var(--el-drawer-bg-color);
  display: flex;
  flex-direction: column;
  box-shadow: var(--el-box-shadow-dark);
  transition: all var(--el-transition-duration);
}
.el-drawer .rtl {
  transform: translate(0, 0);
}
.el-drawer .ltr {
  transform: translate(0, 0);
}
.el-drawer .ttb {
  transform: translate(0, 0);
}
.el-drawer .btt {
  transform: translate(0, 0);
}
.el-drawer__sr-focus:focus {
  outline: none !important;
}
.el-drawer__header {
  align-items: center;
  color: var(--el-text-color-primary);
  display: flex;
  margin-bottom: 32px;
  padding: var(--el-drawer-padding-primary);
  padding-bottom: 0;
  overflow: hidden;
}
.el-drawer__header > :first-child {
  flex: 1;
}
.el-drawer__title {
  margin: 0;
  flex: 1;
  line-height: inherit;
  font-size: 16px;
}
.el-drawer__footer {
  padding: var(--el-drawer-padding-primary);
  padding-top: 10px;
  text-align: right;
  overflow: hidden;
}

.el-drawer__close-btn {
  display: inline-flex;
  border: none;
  cursor: pointer;
  font-size: var(--el-font-size-extra-large);
  color: inherit;
  background-color: transparent;
  outline: none;
}
.el-drawer__close-btn:focus i, .el-drawer__close-btn:hover i {
  color: var(--el-color-primary);
}
.el-drawer__body {
  flex: 1;
  padding: var(--el-drawer-padding-primary);
  overflow: auto;
}
.el-drawer__body > * {
  box-sizing: border-box;
}
.el-drawer.is-dragging {
  transition: none;
}

.el-drawer__dragger {
  position: absolute;
  background-color: transparent;
  user-select: none;
  transition: all 0.2s;
}
.el-drawer__dragger::before {
  content: "";
  position: absolute;
  background-color: transparent;
  transition: all 0.2s;
}
.el-drawer__dragger:hover::before {
  background-color: var(--el-color-primary);
}

.el-drawer.ltr, .el-drawer.rtl {
  height: 100%;
  top: 0;
  bottom: 0;
}
.el-drawer.ltr > .el-drawer__dragger, .el-drawer.rtl > .el-drawer__dragger {
  height: 100%;
  width: var(--el-drawer-dragger-size);
  top: 0;
  bottom: 0;
  cursor: ew-resize;
}
.el-drawer.ltr > .el-drawer__dragger::before, .el-drawer.rtl > .el-drawer__dragger::before {
  top: 0;
  bottom: 0;
  width: 3px;
}
.el-drawer.ttb, .el-drawer.btt {
  width: 100%;
  left: 0;
  right: 0;
}
.el-drawer.ttb > .el-drawer__dragger, .el-drawer.btt > .el-drawer__dragger {
  width: 100%;
  height: var(--el-drawer-dragger-size);
  left: 0;
  right: 0;
  cursor: ns-resize;
}
.el-drawer.ttb > .el-drawer__dragger::before, .el-drawer.btt > .el-drawer__dragger::before {
  left: 0;
  right: 0;
  height: 3px;
}
.el-drawer.ltr {
  left: 0;
}
.el-drawer.ltr > .el-drawer__dragger {
  right: 0;
}
.el-drawer.ltr > .el-drawer__dragger::before {
  right: -2px;
}
.el-drawer.rtl {
  right: 0;
}
.el-drawer.rtl > .el-drawer__dragger {
  left: 0;
}
.el-drawer.rtl > .el-drawer__dragger::before {
  left: -2px;
}
.el-drawer.ttb {
  top: 0;
}
.el-drawer.ttb > .el-drawer__dragger {
  bottom: 0;
}
.el-drawer.ttb > .el-drawer__dragger::before {
  bottom: -2px;
}
.el-drawer.btt {
  bottom: 0;
}
.el-drawer.btt > .el-drawer__dragger {
  top: 0;
}
.el-drawer.btt > .el-drawer__dragger::before {
  top: -2px;
}

.el-modal-drawer.is-penetrable {
  pointer-events: none;
}
.el-modal-drawer.is-penetrable .el-drawer {
  pointer-events: auto;
}

.el-drawer-fade-enter-active, .el-drawer-fade-leave-active {
  transition: all var(--el-transition-duration);
}
.el-drawer-fade-enter-from, .el-drawer-fade-enter-active, .el-drawer-fade-enter-to, .el-drawer-fade-leave-from, .el-drawer-fade-leave-active, .el-drawer-fade-leave-to {
  overflow: hidden !important;
}
.el-drawer-fade-enter-from, .el-drawer-fade-leave-to {
  background-color: transparent !important;
}
.el-drawer-fade-enter-from .rtl, .el-drawer-fade-leave-to .rtl {
  transform: translateX(100%);
}
.el-drawer-fade-enter-from .ltr, .el-drawer-fade-leave-to .ltr {
  transform: translateX(-100%);
}
.el-drawer-fade-enter-from .ttb, .el-drawer-fade-leave-to .ttb {
  transform: translateY(-100%);
}
.el-drawer-fade-enter-from .btt, .el-drawer-fade-leave-to .btt {
  transform: translateY(100%);
}