@charset "UTF-8";
/* Element Chalk Variables */
/** 全局SCSS变量 */
:root {
  --menu-background: #fff;
  --menu-text: #212121;
  --menu-active-text: var(
    --el-menu-active-color
  );
  --menu-hover: #e6f4ff;
  --sidebar-logo-background: #f5f5f5;
  --sidebar-logo-text-color: #333;
}

/** 浅色主题-深蓝色侧边栏配色 */
html.sidebar-color-blue {
  --menu-background: #304156;
  --menu-text: #bfcbd9;
  --menu-active-text: var(--el-menu-active-color);
  --menu-hover: #263445;
  --sidebar-logo-background: #2d3748;
  --sidebar-logo-text-color: #fff;
}

/** 暗黑主题 */
html.dark {
  --menu-background: var(--el-bg-color-overlay);
  --menu-text: #fff;
  --menu-active-text: var(--el-menu-active-color);
  --menu-hover: rgb(0 0 0 / 20%);
  --sidebar-logo-background: rgb(0 0 0 / 20%);
  --sidebar-logo-text-color: #fff;
  /** WangEditor Dark */
  /* Textarea - css vars */
  --w-e-textarea-bg-color: var(--el-bg-color); /* 深色背景 */
  --w-e-textarea-color: var(--el-text-color-primary); /* 浅色文字 */
  --w-e-textarea-border-color: var(--el-border-color); /* 较深的边框颜色 */
  --w-e-textarea-slight-border-color: var(--el-border-color-lighter); /* 更淡一些的边框颜色 */
  --w-e-textarea-slight-color: var(--el-text-color-secondary); /* 浅灰色，用于不那么重要的元素 */
  --w-e-textarea-slight-bg-color: var(--el-bg-color-overlay); /* 稍微亮一点的背景色 */
  --w-e-textarea-selected-border-color: var(--el-color-info-light-5); /* 选中元素时的高亮边框 */
  --w-e-textarea-handler-bg-color: var(--el-color-primary); /* 工具按钮或交互元素的背景色 */
  /* Toolbar - css vars */
  --w-e-toolbar-color: var(--el-text-color-regular); /* 工具栏文字颜色 */
  --w-e-toolbar-bg-color: var(--el-bg-color); /* 工具栏背景颜色 */
  --w-e-toolbar-active-color: var(--el-text-color-primary); /* 当前激活项的文字颜色 */
  --w-e-toolbar-active-bg-color: var(--el-fill-color-light); /* 当前激活项的背景颜色 */
  --w-e-toolbar-disabled-color: var(--el-text-color-secondary); /* 禁用项的颜色 */
  --w-e-toolbar-border-color: var(--el-border-color-base); /* 工具栏边框颜色 */
  /*  Modal - css vars */
  --w-e-modal-button-bg-color: var(--el-bg-color-light-3); /* 弹出框按钮背景色 */
  --w-e-modal-button-border-color: var(--el-border-color-light); /* 弹出框按钮边框颜色 */
}

.el-form {
  --el-form-label-font-size: var(--el-font-size-base);
  --el-form-inline-content-width: 220px;
}
.el-form--inline .el-form-item {
  display: inline-flex;
  vertical-align: middle;
  margin-right: 32px;
}
.el-form--inline.el-form--label-top {
  display: flex;
  flex-wrap: wrap;
}
.el-form--inline.el-form--label-top .el-form-item {
  display: block;
}
/* Element Chalk Variables */
/** 全局SCSS变量 */
:root {
  --menu-background: #fff;
  --menu-text: #212121;
  --menu-active-text: var(
    --el-menu-active-color
  );
  --menu-hover: #e6f4ff;
  --sidebar-logo-background: #f5f5f5;
  --sidebar-logo-text-color: #333;
}

/** 浅色主题-深蓝色侧边栏配色 */
html.sidebar-color-blue {
  --menu-background: #304156;
  --menu-text: #bfcbd9;
  --menu-active-text: var(--el-menu-active-color);
  --menu-hover: #263445;
  --sidebar-logo-background: #2d3748;
  --sidebar-logo-text-color: #fff;
}

/** 暗黑主题 */
html.dark {
  --menu-background: var(--el-bg-color-overlay);
  --menu-text: #fff;
  --menu-active-text: var(--el-menu-active-color);
  --menu-hover: rgb(0 0 0 / 20%);
  --sidebar-logo-background: rgb(0 0 0 / 20%);
  --sidebar-logo-text-color: #fff;
  /** WangEditor Dark */
  /* Textarea - css vars */
  --w-e-textarea-bg-color: var(--el-bg-color); /* 深色背景 */
  --w-e-textarea-color: var(--el-text-color-primary); /* 浅色文字 */
  --w-e-textarea-border-color: var(--el-border-color); /* 较深的边框颜色 */
  --w-e-textarea-slight-border-color: var(--el-border-color-lighter); /* 更淡一些的边框颜色 */
  --w-e-textarea-slight-color: var(--el-text-color-secondary); /* 浅灰色，用于不那么重要的元素 */
  --w-e-textarea-slight-bg-color: var(--el-bg-color-overlay); /* 稍微亮一点的背景色 */
  --w-e-textarea-selected-border-color: var(--el-color-info-light-5); /* 选中元素时的高亮边框 */
  --w-e-textarea-handler-bg-color: var(--el-color-primary); /* 工具按钮或交互元素的背景色 */
  /* Toolbar - css vars */
  --w-e-toolbar-color: var(--el-text-color-regular); /* 工具栏文字颜色 */
  --w-e-toolbar-bg-color: var(--el-bg-color); /* 工具栏背景颜色 */
  --w-e-toolbar-active-color: var(--el-text-color-primary); /* 当前激活项的文字颜色 */
  --w-e-toolbar-active-bg-color: var(--el-fill-color-light); /* 当前激活项的背景颜色 */
  --w-e-toolbar-disabled-color: var(--el-text-color-secondary); /* 禁用项的颜色 */
  --w-e-toolbar-border-color: var(--el-border-color-base); /* 工具栏边框颜色 */
  /*  Modal - css vars */
  --w-e-modal-button-bg-color: var(--el-bg-color-light-3); /* 弹出框按钮背景色 */
  --w-e-modal-button-border-color: var(--el-border-color-light); /* 弹出框按钮边框颜色 */
}

.el-checkbox {
  --el-checkbox-font-size: 14px;
  --el-checkbox-font-weight: var(--el-font-weight-primary);
  --el-checkbox-text-color: var(--el-text-color-regular);
  --el-checkbox-input-height: 14px;
  --el-checkbox-input-width: 14px;
  --el-checkbox-border-radius: var(--el-border-radius-small);
  --el-checkbox-bg-color: var(--el-fill-color-blank);
  --el-checkbox-input-border: var(--el-border);
  --el-checkbox-disabled-border-color: var(--el-border-color);
  --el-checkbox-disabled-input-fill: var(--el-fill-color-light);
  --el-checkbox-disabled-icon-color: var(--el-text-color-placeholder);
  --el-checkbox-disabled-checked-input-fill: var(--el-border-color-extra-light);
  --el-checkbox-disabled-checked-input-border-color: var(--el-border-color);
  --el-checkbox-disabled-checked-icon-color: var(--el-text-color-placeholder);
  --el-checkbox-checked-text-color: var(--el-color-primary);
  --el-checkbox-checked-input-border-color: var(--el-color-primary);
  --el-checkbox-checked-bg-color: var(--el-color-primary);
  --el-checkbox-checked-icon-color: var(--el-color-white);
  --el-checkbox-input-border-color-hover: var(--el-color-primary);
}

.el-checkbox {
  color: var(--el-checkbox-text-color);
  font-weight: var(--el-checkbox-font-weight);
  font-size: var(--el-font-size-base);
  position: relative;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  user-select: none;
  margin-right: 30px;
  height: var(--el-checkbox-height, 32px);
}
.el-checkbox.is-disabled {
  cursor: not-allowed;
}

.el-checkbox.is-bordered {
  padding: 0 15px 0 9px;
  border-radius: var(--el-border-radius-base);
  border: var(--el-border);
  box-sizing: border-box;
}
.el-checkbox.is-bordered.is-checked {
  border-color: var(--el-color-primary);
}
.el-checkbox.is-bordered.is-disabled {
  border-color: var(--el-border-color-lighter);
}
.el-checkbox.is-bordered.el-checkbox--large {
  padding: 0 19px 0 11px;
  border-radius: var(--el-border-radius-base);
}
.el-checkbox.is-bordered.el-checkbox--large .el-checkbox__label {
  font-size: var(--el-font-size-base);
}
.el-checkbox.is-bordered.el-checkbox--large .el-checkbox__inner {
  height: 14px;
  width: 14px;
}
.el-checkbox.is-bordered.el-checkbox--small {
  padding: 0 11px 0 7px;
  border-radius: calc(var(--el-border-radius-base) - 1px);
}
.el-checkbox.is-bordered.el-checkbox--small .el-checkbox__label {
  font-size: 12px;
}
.el-checkbox.is-bordered.el-checkbox--small .el-checkbox__inner {
  height: 12px;
  width: 12px;
}
.el-checkbox.is-bordered.el-checkbox--small .el-checkbox__inner::after {
  height: 6px;
  width: 2px;
}

.el-checkbox input:focus-visible + .el-checkbox__inner {
  outline: 2px solid var(--el-checkbox-input-border-color-hover);
  outline-offset: 1px;
  border-radius: var(--el-checkbox-border-radius);
}
.el-checkbox__input {
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  display: inline-flex;
  position: relative;
}
.el-checkbox__input.is-disabled .el-checkbox__inner {
  background-color: var(--el-checkbox-disabled-input-fill);
  border-color: var(--el-checkbox-disabled-border-color);
  cursor: not-allowed;
}
.el-checkbox__input.is-disabled .el-checkbox__inner::after {
  cursor: not-allowed;
  border-color: var(--el-checkbox-disabled-icon-color);
  will-change: transform;
}
.el-checkbox__input.is-disabled.is-checked .el-checkbox__inner {
  background-color: var(--el-checkbox-disabled-checked-input-fill);
  border-color: var(--el-checkbox-disabled-checked-input-border-color);
}
.el-checkbox__input.is-disabled.is-checked .el-checkbox__inner::after {
  border-color: var(--el-checkbox-disabled-checked-icon-color);
}
.el-checkbox__input.is-disabled.is-indeterminate .el-checkbox__inner {
  background-color: var(--el-checkbox-disabled-checked-input-fill);
  border-color: var(--el-checkbox-disabled-checked-input-border-color);
}
.el-checkbox__input.is-disabled.is-indeterminate .el-checkbox__inner::before {
  background-color: var(--el-checkbox-disabled-checked-icon-color);
  border-color: var(--el-checkbox-disabled-checked-icon-color);
}
.el-checkbox__input.is-disabled + span.el-checkbox__label {
  color: var(--el-disabled-text-color);
  cursor: not-allowed;
}

.el-checkbox__input.is-checked .el-checkbox__inner {
  background-color: var(--el-checkbox-checked-bg-color);
  border-color: var(--el-checkbox-checked-input-border-color);
}
.el-checkbox__input.is-checked .el-checkbox__inner::after {
  transform: translate(-45%, -60%) rotate(45deg) scaleY(1);
  border-color: var(--el-checkbox-checked-icon-color);
}
.el-checkbox__input.is-checked + .el-checkbox__label {
  color: var(--el-checkbox-checked-text-color);
}

.el-checkbox__input.is-focus:not(.is-checked) .el-checkbox__original:not(:focus-visible) {
  border-color: var(--el-checkbox-input-border-color-hover);
}

.el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: var(--el-checkbox-checked-bg-color);
  border-color: var(--el-checkbox-checked-input-border-color);
}
.el-checkbox__input.is-indeterminate .el-checkbox__inner::before {
  content: "";
  position: absolute;
  display: block;
  background-color: var(--el-checkbox-checked-icon-color);
  height: 2px;
  transform: scale(0.5);
  left: 0;
  right: 0;
  top: 5px;
}
.el-checkbox__input.is-indeterminate .el-checkbox__inner::after {
  display: none;
}

.el-checkbox__inner {
  display: inline-block;
  position: relative;
  border: var(--el-checkbox-input-border);
  border-radius: var(--el-checkbox-border-radius);
  box-sizing: border-box;
  width: var(--el-checkbox-input-width);
  height: var(--el-checkbox-input-height);
  background-color: var(--el-checkbox-bg-color);
  z-index: var(--el-index-normal);
  transition: border-color 0.25s cubic-bezier(0.71, -0.46, 0.29, 1.46), background-color 0.25s cubic-bezier(0.71, -0.46, 0.29, 1.46), outline 0.25s cubic-bezier(0.71, -0.46, 0.29, 1.46);
}
.el-checkbox__inner:hover {
  border-color: var(--el-checkbox-input-border-color-hover);
}
.el-checkbox__inner::after {
  box-sizing: content-box;
  content: "";
  border: 1px solid transparent;
  border-left: 0;
  border-top: 0;
  height: 7px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-45%, -60%) rotate(45deg) scaleY(0);
  width: 3px;
  transition: transform 0.15s ease-in 0.05s;
  transform-origin: center;
}

.el-checkbox__original {
  opacity: 0;
  outline: none;
  position: absolute;
  margin: 0;
  width: 0;
  height: 0;
  z-index: -1;
}

.el-checkbox__label {
  display: inline-block;
  padding-left: 8px;
  line-height: 1;
  font-size: var(--el-checkbox-font-size);
}

.el-checkbox.el-checkbox--large {
  height: 40px;
}
.el-checkbox.el-checkbox--large .el-checkbox__label {
  font-size: 14px;
}

.el-checkbox.el-checkbox--large .el-checkbox__inner {
  width: 14px;
  height: 14px;
}

.el-checkbox.el-checkbox--small {
  height: 24px;
}
.el-checkbox.el-checkbox--small .el-checkbox__label {
  font-size: 12px;
}

.el-checkbox.el-checkbox--small .el-checkbox__inner {
  width: 12px;
  height: 12px;
}

.el-checkbox.el-checkbox--small .el-checkbox__input.is-indeterminate .el-checkbox__inner::before {
  top: 4px;
}

.el-checkbox.el-checkbox--small .el-checkbox__inner::after {
  width: 2px;
  height: 6px;
}

.el-checkbox:last-of-type {
  margin-right: 0;
}
/* Element Chalk Variables */
/** 全局SCSS变量 */
:root {
  --menu-background: #fff;
  --menu-text: #212121;
  --menu-active-text: var(
    --el-menu-active-color
  );
  --menu-hover: #e6f4ff;
  --sidebar-logo-background: #f5f5f5;
  --sidebar-logo-text-color: #333;
}

/** 浅色主题-深蓝色侧边栏配色 */
html.sidebar-color-blue {
  --menu-background: #304156;
  --menu-text: #bfcbd9;
  --menu-active-text: var(--el-menu-active-color);
  --menu-hover: #263445;
  --sidebar-logo-background: #2d3748;
  --sidebar-logo-text-color: #fff;
}

/** 暗黑主题 */
html.dark {
  --menu-background: var(--el-bg-color-overlay);
  --menu-text: #fff;
  --menu-active-text: var(--el-menu-active-color);
  --menu-hover: rgb(0 0 0 / 20%);
  --sidebar-logo-background: rgb(0 0 0 / 20%);
  --sidebar-logo-text-color: #fff;
  /** WangEditor Dark */
  /* Textarea - css vars */
  --w-e-textarea-bg-color: var(--el-bg-color); /* 深色背景 */
  --w-e-textarea-color: var(--el-text-color-primary); /* 浅色文字 */
  --w-e-textarea-border-color: var(--el-border-color); /* 较深的边框颜色 */
  --w-e-textarea-slight-border-color: var(--el-border-color-lighter); /* 更淡一些的边框颜色 */
  --w-e-textarea-slight-color: var(--el-text-color-secondary); /* 浅灰色，用于不那么重要的元素 */
  --w-e-textarea-slight-bg-color: var(--el-bg-color-overlay); /* 稍微亮一点的背景色 */
  --w-e-textarea-selected-border-color: var(--el-color-info-light-5); /* 选中元素时的高亮边框 */
  --w-e-textarea-handler-bg-color: var(--el-color-primary); /* 工具按钮或交互元素的背景色 */
  /* Toolbar - css vars */
  --w-e-toolbar-color: var(--el-text-color-regular); /* 工具栏文字颜色 */
  --w-e-toolbar-bg-color: var(--el-bg-color); /* 工具栏背景颜色 */
  --w-e-toolbar-active-color: var(--el-text-color-primary); /* 当前激活项的文字颜色 */
  --w-e-toolbar-active-bg-color: var(--el-fill-color-light); /* 当前激活项的背景颜色 */
  --w-e-toolbar-disabled-color: var(--el-text-color-secondary); /* 禁用项的颜色 */
  --w-e-toolbar-border-color: var(--el-border-color-base); /* 工具栏边框颜色 */
  /*  Modal - css vars */
  --w-e-modal-button-bg-color: var(--el-bg-color-light-3); /* 弹出框按钮背景色 */
  --w-e-modal-button-border-color: var(--el-border-color-light); /* 弹出框按钮边框颜色 */
}

.el-form-item {
  display: flex;
  --font-size: 14px;
  margin-bottom: 18px;
}
.el-form-item .el-form-item {
  margin-bottom: 0;
}
.el-form-item .el-input__validateIcon {
  display: none;
}
.el-form-item--large {
  --font-size: 14px;
  --el-form-label-font-size: var(--font-size);
  margin-bottom: 22px;
}
.el-form-item--large .el-form-item__label {
  height: 40px;
  line-height: 40px;
}

.el-form-item--large .el-form-item__content {
  line-height: 40px;
}

.el-form-item--large .el-form-item__error {
  padding-top: 4px;
}

.el-form-item--default {
  --font-size: 14px;
  --el-form-label-font-size: var(--font-size);
  margin-bottom: 18px;
}
.el-form-item--default .el-form-item__label {
  height: 32px;
  line-height: 32px;
}

.el-form-item--default .el-form-item__content {
  line-height: 32px;
}

.el-form-item--default .el-form-item__error {
  padding-top: 2px;
}

.el-form-item--small {
  --font-size: 12px;
  --el-form-label-font-size: var(--font-size);
  margin-bottom: 18px;
}
.el-form-item--small .el-form-item__label {
  height: 24px;
  line-height: 24px;
}

.el-form-item--small .el-form-item__content {
  line-height: 24px;
}

.el-form-item--small .el-form-item__error {
  padding-top: 2px;
}

.el-form-item--label-left .el-form-item__label {
  text-align: left;
  justify-content: flex-start;
}

.el-form-item--label-right .el-form-item__label {
  text-align: right;
  justify-content: flex-end;
}

.el-form-item--label-top {
  display: block;
}
.el-form-item--label-top .el-form-item__label {
  display: block;
  width: fit-content;
  height: auto;
  text-align: left;
  margin-bottom: 8px;
  line-height: 22px;
  padding-right: 0;
}

.el-form-item__label-wrap {
  display: flex;
}

.el-form-item__label {
  display: inline-flex;
  align-items: flex-start;
  flex: 0 0 auto;
  font-size: var(--el-form-label-font-size);
  color: var(--el-text-color-regular);
  height: 32px;
  line-height: 32px;
  padding: 0 12px 0 0;
  box-sizing: border-box;
}

.el-form-item__content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex: 1;
  line-height: 32px;
  position: relative;
  font-size: var(--font-size);
  min-width: 0;
}
.el-form-item__content .el-input-group {
  vertical-align: top;
}

.el-form-item__error {
  color: var(--el-color-danger);
  font-size: 12px;
  line-height: 1;
  padding-top: 2px;
  position: absolute;
  top: 100%;
  left: 0;
}
.el-form-item__error--inline {
  position: relative;
  top: auto;
  left: auto;
  display: inline-block;
  margin-left: 10px;
}

.el-form-item.is-required:not(.is-no-asterisk).asterisk-left > .el-form-item__label:before,
.el-form-item.is-required:not(.is-no-asterisk).asterisk-left > .el-form-item__label-wrap > .el-form-item__label:before {
  content: "*";
  color: var(--el-color-danger);
  margin-right: 4px;
}
.el-form-item.is-required:not(.is-no-asterisk).asterisk-right > .el-form-item__label:after,
.el-form-item.is-required:not(.is-no-asterisk).asterisk-right > .el-form-item__label-wrap > .el-form-item__label:after {
  content: "*";
  color: var(--el-color-danger);
  margin-left: 4px;
}

.el-form-item.is-error .el-form-item__content .el-input__wrapper, .el-form-item.is-error .el-form-item__content .el-input__wrapper:hover, .el-form-item.is-error .el-form-item__content .el-input__wrapper:focus, .el-form-item.is-error .el-form-item__content .el-input__wrapper.is-focus,
.el-form-item.is-error .el-form-item__content .el-textarea__inner,
.el-form-item.is-error .el-form-item__content .el-textarea__inner:hover,
.el-form-item.is-error .el-form-item__content .el-textarea__inner:focus,
.el-form-item.is-error .el-form-item__content .el-textarea__inner.is-focus,
.el-form-item.is-error .el-form-item__content .el-select__wrapper,
.el-form-item.is-error .el-form-item__content .el-select__wrapper:hover,
.el-form-item.is-error .el-form-item__content .el-select__wrapper:focus,
.el-form-item.is-error .el-form-item__content .el-select__wrapper.is-focus,
.el-form-item.is-error .el-form-item__content .el-input-tag__wrapper,
.el-form-item.is-error .el-form-item__content .el-input-tag__wrapper:hover,
.el-form-item.is-error .el-form-item__content .el-input-tag__wrapper:focus,
.el-form-item.is-error .el-form-item__content .el-input-tag__wrapper.is-focus {
  box-shadow: 0 0 0 1px var(--el-color-danger) inset;
}
.el-form-item.is-error .el-form-item__content .el-input-group__append .el-input__wrapper,
.el-form-item.is-error .el-form-item__content .el-input-group__prepend .el-input__wrapper {
  box-shadow: 0 0 0 1px transparent inset;
}
.el-form-item.is-error .el-form-item__content .el-input-group__append .el-input__validateIcon,
.el-form-item.is-error .el-form-item__content .el-input-group__prepend .el-input__validateIcon {
  display: none;
}
.el-form-item.is-error .el-form-item__content .el-input__validateIcon {
  color: var(--el-color-danger);
}

.el-form-item--feedback .el-input__validateIcon {
  display: inline-flex;
}