@charset "UTF-8";
/* Element Chalk Variables */
/** 全局SCSS变量 */
:root {
  --menu-background: #fff;
  --menu-text: #212121;
  --menu-active-text: var(
    --el-menu-active-color
  );
  --menu-hover: #e6f4ff;
  --sidebar-logo-background: #f5f5f5;
  --sidebar-logo-text-color: #333;
}

/** 浅色主题-深蓝色侧边栏配色 */
html.sidebar-color-blue {
  --menu-background: #304156;
  --menu-text: #bfcbd9;
  --menu-active-text: var(--el-menu-active-color);
  --menu-hover: #263445;
  --sidebar-logo-background: #2d3748;
  --sidebar-logo-text-color: #fff;
}

/** 暗黑主题 */
html.dark {
  --menu-background: var(--el-bg-color-overlay);
  --menu-text: #fff;
  --menu-active-text: var(--el-menu-active-color);
  --menu-hover: rgb(0 0 0 / 20%);
  --sidebar-logo-background: rgb(0 0 0 / 20%);
  --sidebar-logo-text-color: #fff;
  /** WangEditor Dark */
  /* Textarea - css vars */
  --w-e-textarea-bg-color: var(--el-bg-color); /* 深色背景 */
  --w-e-textarea-color: var(--el-text-color-primary); /* 浅色文字 */
  --w-e-textarea-border-color: var(--el-border-color); /* 较深的边框颜色 */
  --w-e-textarea-slight-border-color: var(--el-border-color-lighter); /* 更淡一些的边框颜色 */
  --w-e-textarea-slight-color: var(--el-text-color-secondary); /* 浅灰色，用于不那么重要的元素 */
  --w-e-textarea-slight-bg-color: var(--el-bg-color-overlay); /* 稍微亮一点的背景色 */
  --w-e-textarea-selected-border-color: var(--el-color-info-light-5); /* 选中元素时的高亮边框 */
  --w-e-textarea-handler-bg-color: var(--el-color-primary); /* 工具按钮或交互元素的背景色 */
  /* Toolbar - css vars */
  --w-e-toolbar-color: var(--el-text-color-regular); /* 工具栏文字颜色 */
  --w-e-toolbar-bg-color: var(--el-bg-color); /* 工具栏背景颜色 */
  --w-e-toolbar-active-color: var(--el-text-color-primary); /* 当前激活项的文字颜色 */
  --w-e-toolbar-active-bg-color: var(--el-fill-color-light); /* 当前激活项的背景颜色 */
  --w-e-toolbar-disabled-color: var(--el-text-color-secondary); /* 禁用项的颜色 */
  --w-e-toolbar-border-color: var(--el-border-color-base); /* 工具栏边框颜色 */
  /*  Modal - css vars */
  --w-e-modal-button-bg-color: var(--el-bg-color-light-3); /* 弹出框按钮背景色 */
  --w-e-modal-button-border-color: var(--el-border-color-light); /* 弹出框按钮边框颜色 */
}

.el-progress {
  position: relative;
  line-height: 1;
  display: flex;
  align-items: center;
}
.el-progress__text {
  font-size: 14px;
  color: var(--el-text-color-regular);
  margin-left: 5px;
  min-width: 50px;
  line-height: 1;
}
.el-progress__text i {
  vertical-align: middle;
  display: block;
}

.el-progress--circle, .el-progress--dashboard {
  display: inline-block;
}
.el-progress--circle .el-progress__text, .el-progress--dashboard .el-progress__text {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  transform: translate(0, -50%);
}
.el-progress--circle .el-progress__text i, .el-progress--dashboard .el-progress__text i {
  vertical-align: middle;
  display: inline-block;
}

.el-progress--without-text .el-progress__text {
  display: none;
}
.el-progress--without-text .el-progress-bar {
  padding-right: 0;
  margin-right: 0;
  display: block;
}

.el-progress--text-inside .el-progress-bar {
  padding-right: 0;
  margin-right: 0;
}

.el-progress.is-success .el-progress-bar__inner {
  background-color: var(--el-color-success);
}
.el-progress.is-success .el-progress__text {
  color: var(--el-color-success);
}

.el-progress.is-warning .el-progress-bar__inner {
  background-color: var(--el-color-warning);
}
.el-progress.is-warning .el-progress__text {
  color: var(--el-color-warning);
}

.el-progress.is-exception .el-progress-bar__inner {
  background-color: var(--el-color-danger);
}
.el-progress.is-exception .el-progress__text {
  color: var(--el-color-danger);
}

.el-progress-bar {
  flex-grow: 1;
  box-sizing: border-box;
}
.el-progress-bar__outer {
  height: 6px;
  border-radius: 100px;
  background-color: var(--el-border-color-lighter);
  overflow: hidden;
  position: relative;
  vertical-align: middle;
}

.el-progress-bar__inner {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: var(--el-color-primary);
  text-align: right;
  border-radius: 100px;
  line-height: 1;
  white-space: nowrap;
  transition: width 0.6s ease;
}
.el-progress-bar__inner::after {
  display: inline-block;
  content: "";
  height: 100%;
  vertical-align: middle;
}

.el-progress-bar__inner--indeterminate {
  transform: translateZ(0);
  animation: indeterminate 3s infinite;
}

.el-progress-bar__inner--striped {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 75%, transparent 75%, transparent);
  background-size: 1.25em 1.25em;
}
.el-progress-bar__inner--striped.el-progress-bar__inner--striped-flow {
  animation: striped-flow 3s linear infinite;
}

.el-progress-bar__innerText {
  display: inline-block;
  vertical-align: middle;
  color: #ffffff;
  font-size: 12px;
  margin: 0 5px;
}

@keyframes progress {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 32px 0;
  }
}
@keyframes indeterminate {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}
@keyframes striped-flow {
  0% {
    background-position: -100%;
  }
  100% {
    background-position: 100%;
  }
}
/* Element Chalk Variables */
/** 全局SCSS变量 */
:root {
  --menu-background: #fff;
  --menu-text: #212121;
  --menu-active-text: var(
    --el-menu-active-color
  );
  --menu-hover: #e6f4ff;
  --sidebar-logo-background: #f5f5f5;
  --sidebar-logo-text-color: #333;
}

/** 浅色主题-深蓝色侧边栏配色 */
html.sidebar-color-blue {
  --menu-background: #304156;
  --menu-text: #bfcbd9;
  --menu-active-text: var(--el-menu-active-color);
  --menu-hover: #263445;
  --sidebar-logo-background: #2d3748;
  --sidebar-logo-text-color: #fff;
}

/** 暗黑主题 */
html.dark {
  --menu-background: var(--el-bg-color-overlay);
  --menu-text: #fff;
  --menu-active-text: var(--el-menu-active-color);
  --menu-hover: rgb(0 0 0 / 20%);
  --sidebar-logo-background: rgb(0 0 0 / 20%);
  --sidebar-logo-text-color: #fff;
  /** WangEditor Dark */
  /* Textarea - css vars */
  --w-e-textarea-bg-color: var(--el-bg-color); /* 深色背景 */
  --w-e-textarea-color: var(--el-text-color-primary); /* 浅色文字 */
  --w-e-textarea-border-color: var(--el-border-color); /* 较深的边框颜色 */
  --w-e-textarea-slight-border-color: var(--el-border-color-lighter); /* 更淡一些的边框颜色 */
  --w-e-textarea-slight-color: var(--el-text-color-secondary); /* 浅灰色，用于不那么重要的元素 */
  --w-e-textarea-slight-bg-color: var(--el-bg-color-overlay); /* 稍微亮一点的背景色 */
  --w-e-textarea-selected-border-color: var(--el-color-info-light-5); /* 选中元素时的高亮边框 */
  --w-e-textarea-handler-bg-color: var(--el-color-primary); /* 工具按钮或交互元素的背景色 */
  /* Toolbar - css vars */
  --w-e-toolbar-color: var(--el-text-color-regular); /* 工具栏文字颜色 */
  --w-e-toolbar-bg-color: var(--el-bg-color); /* 工具栏背景颜色 */
  --w-e-toolbar-active-color: var(--el-text-color-primary); /* 当前激活项的文字颜色 */
  --w-e-toolbar-active-bg-color: var(--el-fill-color-light); /* 当前激活项的背景颜色 */
  --w-e-toolbar-disabled-color: var(--el-text-color-secondary); /* 禁用项的颜色 */
  --w-e-toolbar-border-color: var(--el-border-color-base); /* 工具栏边框颜色 */
  /*  Modal - css vars */
  --w-e-modal-button-bg-color: var(--el-bg-color-light-3); /* 弹出框按钮背景色 */
  --w-e-modal-button-border-color: var(--el-border-color-light); /* 弹出框按钮边框颜色 */
}

.el-alert {
  --el-alert-padding: 8px 16px;
  --el-alert-border-radius-base: var(--el-border-radius-base);
  --el-alert-title-font-size: 14px;
  --el-alert-title-with-description-font-size: 16px;
  --el-alert-description-font-size: 14px;
  --el-alert-close-font-size: 16px;
  --el-alert-close-customed-font-size: 14px;
  --el-alert-icon-size: 16px;
  --el-alert-icon-large-size: 28px;
  width: 100%;
  padding: var(--el-alert-padding);
  margin: 0;
  box-sizing: border-box;
  border-radius: var(--el-alert-border-radius-base);
  position: relative;
  background-color: var(--el-color-white);
  overflow: hidden;
  opacity: 1;
  display: flex;
  align-items: center;
  transition: opacity var(--el-transition-duration-fast);
}
.el-alert.is-light .el-alert__close-btn {
  color: var(--el-text-color-placeholder);
}

.el-alert.is-dark .el-alert__close-btn {
  color: var(--el-color-white);
}
.el-alert.is-dark .el-alert__description {
  color: var(--el-color-white);
}

.el-alert.is-center {
  justify-content: center;
}

.el-alert--primary {
  --el-alert-bg-color: var(--el-color-primary-light-9);
}
.el-alert--primary.is-light {
  background-color: var(--el-alert-bg-color);
  color: var(--el-color-primary);
}
.el-alert--primary.is-light .el-alert__description {
  color: var(--el-color-primary);
}
.el-alert--primary.is-dark {
  background-color: var(--el-color-primary);
  color: var(--el-color-white);
}

.el-alert--success {
  --el-alert-bg-color: var(--el-color-success-light-9);
}
.el-alert--success.is-light {
  background-color: var(--el-alert-bg-color);
  color: var(--el-color-success);
}
.el-alert--success.is-light .el-alert__description {
  color: var(--el-color-success);
}
.el-alert--success.is-dark {
  background-color: var(--el-color-success);
  color: var(--el-color-white);
}

.el-alert--info {
  --el-alert-bg-color: var(--el-color-info-light-9);
}
.el-alert--info.is-light {
  background-color: var(--el-alert-bg-color);
  color: var(--el-color-info);
}
.el-alert--info.is-light .el-alert__description {
  color: var(--el-color-info);
}
.el-alert--info.is-dark {
  background-color: var(--el-color-info);
  color: var(--el-color-white);
}

.el-alert--warning {
  --el-alert-bg-color: var(--el-color-warning-light-9);
}
.el-alert--warning.is-light {
  background-color: var(--el-alert-bg-color);
  color: var(--el-color-warning);
}
.el-alert--warning.is-light .el-alert__description {
  color: var(--el-color-warning);
}
.el-alert--warning.is-dark {
  background-color: var(--el-color-warning);
  color: var(--el-color-white);
}

.el-alert--error {
  --el-alert-bg-color: var(--el-color-error-light-9);
}
.el-alert--error.is-light {
  background-color: var(--el-alert-bg-color);
  color: var(--el-color-error);
}
.el-alert--error.is-light .el-alert__description {
  color: var(--el-color-error);
}
.el-alert--error.is-dark {
  background-color: var(--el-color-error);
  color: var(--el-color-white);
}

.el-alert__content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.el-alert .el-alert__icon {
  font-size: var(--el-alert-icon-size);
  width: var(--el-alert-icon-size);
  margin-right: 8px;
}
.el-alert .el-alert__icon.is-big {
  font-size: var(--el-alert-icon-large-size);
  width: var(--el-alert-icon-large-size);
  margin-right: 12px;
}

.el-alert__title {
  font-size: var(--el-alert-title-font-size);
  line-height: 24px;
}
.el-alert__title.with-description {
  font-size: var(--el-alert-title-with-description-font-size);
}

.el-alert .el-alert__description {
  font-size: var(--el-alert-description-font-size);
  margin: 0;
}
.el-alert .el-alert__close-btn {
  font-size: var(--el-alert-close-font-size);
  opacity: 1;
  position: absolute;
  top: 12px;
  right: 16px;
  cursor: pointer;
}
.el-alert .el-alert__close-btn.is-customed {
  font-style: normal;
  font-size: var(--el-alert-close-customed-font-size);
  line-height: 24px;
  top: 8px;
}

.el-alert-fade-enter-from,
.el-alert-fade-leave-active {
  opacity: 0;
}
/* Element Chalk Variables */
/** 全局SCSS变量 */
:root {
  --menu-background: #fff;
  --menu-text: #212121;
  --menu-active-text: var(
    --el-menu-active-color
  );
  --menu-hover: #e6f4ff;
  --sidebar-logo-background: #f5f5f5;
  --sidebar-logo-text-color: #333;
}

/** 浅色主题-深蓝色侧边栏配色 */
html.sidebar-color-blue {
  --menu-background: #304156;
  --menu-text: #bfcbd9;
  --menu-active-text: var(--el-menu-active-color);
  --menu-hover: #263445;
  --sidebar-logo-background: #2d3748;
  --sidebar-logo-text-color: #fff;
}

/** 暗黑主题 */
html.dark {
  --menu-background: var(--el-bg-color-overlay);
  --menu-text: #fff;
  --menu-active-text: var(--el-menu-active-color);
  --menu-hover: rgb(0 0 0 / 20%);
  --sidebar-logo-background: rgb(0 0 0 / 20%);
  --sidebar-logo-text-color: #fff;
  /** WangEditor Dark */
  /* Textarea - css vars */
  --w-e-textarea-bg-color: var(--el-bg-color); /* 深色背景 */
  --w-e-textarea-color: var(--el-text-color-primary); /* 浅色文字 */
  --w-e-textarea-border-color: var(--el-border-color); /* 较深的边框颜色 */
  --w-e-textarea-slight-border-color: var(--el-border-color-lighter); /* 更淡一些的边框颜色 */
  --w-e-textarea-slight-color: var(--el-text-color-secondary); /* 浅灰色，用于不那么重要的元素 */
  --w-e-textarea-slight-bg-color: var(--el-bg-color-overlay); /* 稍微亮一点的背景色 */
  --w-e-textarea-selected-border-color: var(--el-color-info-light-5); /* 选中元素时的高亮边框 */
  --w-e-textarea-handler-bg-color: var(--el-color-primary); /* 工具按钮或交互元素的背景色 */
  /* Toolbar - css vars */
  --w-e-toolbar-color: var(--el-text-color-regular); /* 工具栏文字颜色 */
  --w-e-toolbar-bg-color: var(--el-bg-color); /* 工具栏背景颜色 */
  --w-e-toolbar-active-color: var(--el-text-color-primary); /* 当前激活项的文字颜色 */
  --w-e-toolbar-active-bg-color: var(--el-fill-color-light); /* 当前激活项的背景颜色 */
  --w-e-toolbar-disabled-color: var(--el-text-color-secondary); /* 禁用项的颜色 */
  --w-e-toolbar-border-color: var(--el-border-color-base); /* 工具栏边框颜色 */
  /*  Modal - css vars */
  --w-e-modal-button-bg-color: var(--el-bg-color-light-3); /* 弹出框按钮背景色 */
  --w-e-modal-button-border-color: var(--el-border-color-light); /* 弹出框按钮边框颜色 */
}

.el-checkbox-button {
  --el-checkbox-button-checked-bg-color: var(--el-color-primary);
  --el-checkbox-button-checked-text-color: var(--el-color-white);
  --el-checkbox-button-checked-border-color: var(--el-color-primary);
}

.el-checkbox-button {
  position: relative;
  display: inline-block;
}
.el-checkbox-button__inner {
  display: inline-block;
  line-height: 1;
  font-weight: var(--el-checkbox-font-weight);
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background: var(--el-button-bg-color, var(--el-fill-color-blank));
  outline: var(--el-border);
  color: var(--el-button-text-color, var(--el-text-color-regular));
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  position: relative;
  transition: var(--el-transition-all);
  user-select: none;
  padding: 8px 15px;
  font-size: var(--el-font-size-base);
  border-radius: 0;
}
.el-checkbox-button__inner.is-round {
  padding: 8px 15px;
}
.el-checkbox-button__inner:hover {
  color: var(--el-color-primary);
}
.el-checkbox-button__inner [class*=el-icon-] {
  line-height: 0.9;
}
.el-checkbox-button__inner [class*=el-icon-] + span {
  margin-left: 5px;
}

.el-checkbox-button__original {
  opacity: 0;
  outline: none;
  position: absolute;
  margin: 0;
  z-index: -1;
}

.el-checkbox-button.is-checked .el-checkbox-button__inner {
  color: var(--el-checkbox-button-checked-text-color);
  background-color: var(--el-checkbox-button-checked-bg-color);
  border-color: var(--el-checkbox-button-checked-border-color);
  box-shadow: -1px 0 0 0 var(--el-color-primary-light-7);
}
.el-checkbox-button.is-checked:first-child .el-checkbox-button__inner {
  border-left-color: var(--el-checkbox-button-checked-border-color);
}
.el-checkbox-button.is-disabled .el-checkbox-button__inner {
  color: var(--el-disabled-text-color);
  cursor: not-allowed;
  background-image: none;
  background-color: var(--el-button-disabled-bg-color, var(--el-fill-color-blank));
  border-color: var(--el-button-disabled-border-color, var(--el-border-color-light));
  box-shadow: none;
}
.el-checkbox-button.is-disabled:first-child .el-checkbox-button__inner {
  border-left-color: var(--el-button-disabled-border-color, var(--el-border-color-light));
}
.el-checkbox-button:first-child .el-checkbox-button__inner {
  border-top-left-radius: var(--el-border-radius-base);
  border-bottom-left-radius: var(--el-border-radius-base);
  box-shadow: none !important;
}
.el-checkbox-button.is-focus .el-checkbox-button__inner {
  border-color: var(--el-checkbox-button-checked-border-color);
}
.el-checkbox-button:last-child .el-checkbox-button__inner {
  border-top-right-radius: var(--el-border-radius-base);
  border-bottom-right-radius: var(--el-border-radius-base);
}
.el-checkbox-button--large .el-checkbox-button__inner {
  padding: 12px 19px;
  font-size: var(--el-font-size-base);
  border-radius: 0;
}
.el-checkbox-button--large .el-checkbox-button__inner.is-round {
  padding: 12px 19px;
}

.el-checkbox-button--small .el-checkbox-button__inner {
  padding: 5px 11px;
  font-size: 12px;
  border-radius: 0;
}
.el-checkbox-button--small .el-checkbox-button__inner.is-round {
  padding: 5px 11px;
}
/* Element Chalk Variables */
/** 全局SCSS变量 */
:root {
  --menu-background: #fff;
  --menu-text: #212121;
  --menu-active-text: var(
    --el-menu-active-color
  );
  --menu-hover: #e6f4ff;
  --sidebar-logo-background: #f5f5f5;
  --sidebar-logo-text-color: #333;
}

/** 浅色主题-深蓝色侧边栏配色 */
html.sidebar-color-blue {
  --menu-background: #304156;
  --menu-text: #bfcbd9;
  --menu-active-text: var(--el-menu-active-color);
  --menu-hover: #263445;
  --sidebar-logo-background: #2d3748;
  --sidebar-logo-text-color: #fff;
}

/** 暗黑主题 */
html.dark {
  --menu-background: var(--el-bg-color-overlay);
  --menu-text: #fff;
  --menu-active-text: var(--el-menu-active-color);
  --menu-hover: rgb(0 0 0 / 20%);
  --sidebar-logo-background: rgb(0 0 0 / 20%);
  --sidebar-logo-text-color: #fff;
  /** WangEditor Dark */
  /* Textarea - css vars */
  --w-e-textarea-bg-color: var(--el-bg-color); /* 深色背景 */
  --w-e-textarea-color: var(--el-text-color-primary); /* 浅色文字 */
  --w-e-textarea-border-color: var(--el-border-color); /* 较深的边框颜色 */
  --w-e-textarea-slight-border-color: var(--el-border-color-lighter); /* 更淡一些的边框颜色 */
  --w-e-textarea-slight-color: var(--el-text-color-secondary); /* 浅灰色，用于不那么重要的元素 */
  --w-e-textarea-slight-bg-color: var(--el-bg-color-overlay); /* 稍微亮一点的背景色 */
  --w-e-textarea-selected-border-color: var(--el-color-info-light-5); /* 选中元素时的高亮边框 */
  --w-e-textarea-handler-bg-color: var(--el-color-primary); /* 工具按钮或交互元素的背景色 */
  /* Toolbar - css vars */
  --w-e-toolbar-color: var(--el-text-color-regular); /* 工具栏文字颜色 */
  --w-e-toolbar-bg-color: var(--el-bg-color); /* 工具栏背景颜色 */
  --w-e-toolbar-active-color: var(--el-text-color-primary); /* 当前激活项的文字颜色 */
  --w-e-toolbar-active-bg-color: var(--el-fill-color-light); /* 当前激活项的背景颜色 */
  --w-e-toolbar-disabled-color: var(--el-text-color-secondary); /* 禁用项的颜色 */
  --w-e-toolbar-border-color: var(--el-border-color-base); /* 工具栏边框颜色 */
  /*  Modal - css vars */
  --w-e-modal-button-bg-color: var(--el-bg-color-light-3); /* 弹出框按钮背景色 */
  --w-e-modal-button-border-color: var(--el-border-color-light); /* 弹出框按钮边框颜色 */
}

.el-space {
  display: inline-flex;
  vertical-align: top;
}
.el-space__item {
  display: flex;
  flex-wrap: wrap;
}
.el-space__item > * {
  flex: 1;
}

.el-space--vertical {
  flex-direction: column;
}
/* Element Chalk Variables */
/** 全局SCSS变量 */
:root {
  --menu-background: #fff;
  --menu-text: #212121;
  --menu-active-text: var(
    --el-menu-active-color
  );
  --menu-hover: #e6f4ff;
  --sidebar-logo-background: #f5f5f5;
  --sidebar-logo-text-color: #333;
}

/** 浅色主题-深蓝色侧边栏配色 */
html.sidebar-color-blue {
  --menu-background: #304156;
  --menu-text: #bfcbd9;
  --menu-active-text: var(--el-menu-active-color);
  --menu-hover: #263445;
  --sidebar-logo-background: #2d3748;
  --sidebar-logo-text-color: #fff;
}

/** 暗黑主题 */
html.dark {
  --menu-background: var(--el-bg-color-overlay);
  --menu-text: #fff;
  --menu-active-text: var(--el-menu-active-color);
  --menu-hover: rgb(0 0 0 / 20%);
  --sidebar-logo-background: rgb(0 0 0 / 20%);
  --sidebar-logo-text-color: #fff;
  /** WangEditor Dark */
  /* Textarea - css vars */
  --w-e-textarea-bg-color: var(--el-bg-color); /* 深色背景 */
  --w-e-textarea-color: var(--el-text-color-primary); /* 浅色文字 */
  --w-e-textarea-border-color: var(--el-border-color); /* 较深的边框颜色 */
  --w-e-textarea-slight-border-color: var(--el-border-color-lighter); /* 更淡一些的边框颜色 */
  --w-e-textarea-slight-color: var(--el-text-color-secondary); /* 浅灰色，用于不那么重要的元素 */
  --w-e-textarea-slight-bg-color: var(--el-bg-color-overlay); /* 稍微亮一点的背景色 */
  --w-e-textarea-selected-border-color: var(--el-color-info-light-5); /* 选中元素时的高亮边框 */
  --w-e-textarea-handler-bg-color: var(--el-color-primary); /* 工具按钮或交互元素的背景色 */
  /* Toolbar - css vars */
  --w-e-toolbar-color: var(--el-text-color-regular); /* 工具栏文字颜色 */
  --w-e-toolbar-bg-color: var(--el-bg-color); /* 工具栏背景颜色 */
  --w-e-toolbar-active-color: var(--el-text-color-primary); /* 当前激活项的文字颜色 */
  --w-e-toolbar-active-bg-color: var(--el-fill-color-light); /* 当前激活项的背景颜色 */
  --w-e-toolbar-disabled-color: var(--el-text-color-secondary); /* 禁用项的颜色 */
  --w-e-toolbar-border-color: var(--el-border-color-base); /* 工具栏边框颜色 */
  /*  Modal - css vars */
  --w-e-modal-button-bg-color: var(--el-bg-color-light-3); /* 弹出框按钮背景色 */
  --w-e-modal-button-border-color: var(--el-border-color-light); /* 弹出框按钮边框颜色 */
}

.el-tree-select {
  --el-tree-node-content-height: 26px;
  --el-tree-node-hover-bg-color: var(--el-fill-color-light);
  --el-tree-text-color: var(--el-text-color-regular);
  --el-tree-expand-icon-color: var(--el-text-color-placeholder);
}

.el-tree-select__popper .el-tree-node__expand-icon {
  margin-left: 8px;
}
.el-tree-select__popper .el-tree-node.is-checked > .el-tree-node__content .el-select-dropdown__item.selected::after {
  content: none;
}
.el-tree-select__popper .el-select-dropdown__list > .el-select-dropdown__item {
  padding-left: 32px;
}
.el-tree-select__popper .el-select-dropdown__item {
  flex: 1;
  background: transparent !important;
  padding-left: 0;
  height: 20px;
  line-height: 20px;
}
/* Element Chalk Variables */
/** 全局SCSS变量 */
:root {
  --menu-background: #fff;
  --menu-text: #212121;
  --menu-active-text: var(
    --el-menu-active-color
  );
  --menu-hover: #e6f4ff;
  --sidebar-logo-background: #f5f5f5;
  --sidebar-logo-text-color: #333;
}

/** 浅色主题-深蓝色侧边栏配色 */
html.sidebar-color-blue {
  --menu-background: #304156;
  --menu-text: #bfcbd9;
  --menu-active-text: var(--el-menu-active-color);
  --menu-hover: #263445;
  --sidebar-logo-background: #2d3748;
  --sidebar-logo-text-color: #fff;
}

/** 暗黑主题 */
html.dark {
  --menu-background: var(--el-bg-color-overlay);
  --menu-text: #fff;
  --menu-active-text: var(--el-menu-active-color);
  --menu-hover: rgb(0 0 0 / 20%);
  --sidebar-logo-background: rgb(0 0 0 / 20%);
  --sidebar-logo-text-color: #fff;
  /** WangEditor Dark */
  /* Textarea - css vars */
  --w-e-textarea-bg-color: var(--el-bg-color); /* 深色背景 */
  --w-e-textarea-color: var(--el-text-color-primary); /* 浅色文字 */
  --w-e-textarea-border-color: var(--el-border-color); /* 较深的边框颜色 */
  --w-e-textarea-slight-border-color: var(--el-border-color-lighter); /* 更淡一些的边框颜色 */
  --w-e-textarea-slight-color: var(--el-text-color-secondary); /* 浅灰色，用于不那么重要的元素 */
  --w-e-textarea-slight-bg-color: var(--el-bg-color-overlay); /* 稍微亮一点的背景色 */
  --w-e-textarea-selected-border-color: var(--el-color-info-light-5); /* 选中元素时的高亮边框 */
  --w-e-textarea-handler-bg-color: var(--el-color-primary); /* 工具按钮或交互元素的背景色 */
  /* Toolbar - css vars */
  --w-e-toolbar-color: var(--el-text-color-regular); /* 工具栏文字颜色 */
  --w-e-toolbar-bg-color: var(--el-bg-color); /* 工具栏背景颜色 */
  --w-e-toolbar-active-color: var(--el-text-color-primary); /* 当前激活项的文字颜色 */
  --w-e-toolbar-active-bg-color: var(--el-fill-color-light); /* 当前激活项的背景颜色 */
  --w-e-toolbar-disabled-color: var(--el-text-color-secondary); /* 禁用项的颜色 */
  --w-e-toolbar-border-color: var(--el-border-color-base); /* 工具栏边框颜色 */
  /*  Modal - css vars */
  --w-e-modal-button-bg-color: var(--el-bg-color-light-3); /* 弹出框按钮背景色 */
  --w-e-modal-button-border-color: var(--el-border-color-light); /* 弹出框按钮边框颜色 */
}

.el-radio-button {
  --el-radio-button-checked-bg-color: var(--el-color-primary);
  --el-radio-button-checked-text-color: var(--el-color-white);
  --el-radio-button-checked-border-color: var(--el-color-primary);
  --el-radio-button-disabled-checked-fill: var(--el-border-color-extra-light);
}

.el-radio-button {
  position: relative;
  display: inline-block;
  outline: none;
}
.el-radio-button__inner {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  vertical-align: middle;
  background: var(--el-button-bg-color, var(--el-fill-color-blank));
  outline: var(--el-border);
  font-weight: var(--el-button-font-weight, var(--el-font-weight-primary));
  color: var(--el-button-text-color, var(--el-text-color-regular));
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  position: relative;
  cursor: pointer;
  transition: var(--el-transition-all);
  user-select: none;
  padding: 8px 15px;
  font-size: var(--el-font-size-base);
  border-radius: 0;
}
.el-radio-button__inner.is-round {
  padding: 8px 15px;
}
.el-radio-button__inner:hover {
  color: var(--el-color-primary);
}
.el-radio-button__inner [class*=el-icon-] {
  line-height: 0.9;
}
.el-radio-button__inner [class*=el-icon-] + span {
  margin-left: 5px;
}

.el-radio-button:first-child .el-radio-button__inner {
  border-radius: var(--el-border-radius-base) 0 0 var(--el-border-radius-base);
  box-shadow: none !important;
}
.el-radio-button.is-active .el-radio-button__original-radio:not(:disabled) + .el-radio-button__inner {
  color: var(--el-radio-button-checked-text-color, var(--el-color-white));
  background-color: var(--el-radio-button-checked-bg-color, var(--el-color-primary));
  border-color: var(--el-radio-button-checked-border-color, var(--el-color-primary));
  box-shadow: -1px 0 0 0 var(--el-radio-button-checked-border-color, var(--el-color-primary));
}

.el-radio-button__original-radio {
  opacity: 0;
  outline: none;
  position: absolute;
  z-index: -1;
}
.el-radio-button__original-radio:focus-visible + .el-radio-button__inner {
  border-left: var(--el-border);
  border-left-color: var(--el-radio-button-checked-border-color, var(--el-color-primary));
  outline: 2px solid var(--el-radio-button-checked-border-color);
  outline-offset: 1px;
  z-index: 2;
  border-radius: var(--el-border-radius-base);
  box-shadow: none;
}
.el-radio-button__original-radio:disabled + .el-radio-button__inner {
  color: var(--el-disabled-text-color);
  cursor: not-allowed;
  background-image: none;
  background-color: var(--el-button-disabled-bg-color, var(--el-fill-color-blank));
  border-color: var(--el-button-disabled-border-color, var(--el-border-color-light));
  box-shadow: none;
}
.el-radio-button__original-radio:disabled:checked + .el-radio-button__inner {
  background-color: var(--el-radio-button-disabled-checked-fill);
}

.el-radio-button:last-child .el-radio-button__inner {
  border-radius: 0 var(--el-border-radius-base) var(--el-border-radius-base) 0;
}
.el-radio-button:first-child:last-child .el-radio-button__inner {
  border-radius: var(--el-border-radius-base);
}
.el-radio-button--large .el-radio-button__inner {
  padding: 12px 19px;
  font-size: var(--el-font-size-base);
  border-radius: 0;
}
.el-radio-button--large .el-radio-button__inner.is-round {
  padding: 12px 19px;
}

.el-radio-button--small .el-radio-button__inner {
  padding: 5px 11px;
  font-size: 12px;
  border-radius: 0;
}
.el-radio-button--small .el-radio-button__inner.is-round {
  padding: 5px 11px;
}
/* Element Chalk Variables */
/** 全局SCSS变量 */
:root {
  --menu-background: #fff;
  --menu-text: #212121;
  --menu-active-text: var(
    --el-menu-active-color
  );
  --menu-hover: #e6f4ff;
  --sidebar-logo-background: #f5f5f5;
  --sidebar-logo-text-color: #333;
}

/** 浅色主题-深蓝色侧边栏配色 */
html.sidebar-color-blue {
  --menu-background: #304156;
  --menu-text: #bfcbd9;
  --menu-active-text: var(--el-menu-active-color);
  --menu-hover: #263445;
  --sidebar-logo-background: #2d3748;
  --sidebar-logo-text-color: #fff;
}

/** 暗黑主题 */
html.dark {
  --menu-background: var(--el-bg-color-overlay);
  --menu-text: #fff;
  --menu-active-text: var(--el-menu-active-color);
  --menu-hover: rgb(0 0 0 / 20%);
  --sidebar-logo-background: rgb(0 0 0 / 20%);
  --sidebar-logo-text-color: #fff;
  /** WangEditor Dark */
  /* Textarea - css vars */
  --w-e-textarea-bg-color: var(--el-bg-color); /* 深色背景 */
  --w-e-textarea-color: var(--el-text-color-primary); /* 浅色文字 */
  --w-e-textarea-border-color: var(--el-border-color); /* 较深的边框颜色 */
  --w-e-textarea-slight-border-color: var(--el-border-color-lighter); /* 更淡一些的边框颜色 */
  --w-e-textarea-slight-color: var(--el-text-color-secondary); /* 浅灰色，用于不那么重要的元素 */
  --w-e-textarea-slight-bg-color: var(--el-bg-color-overlay); /* 稍微亮一点的背景色 */
  --w-e-textarea-selected-border-color: var(--el-color-info-light-5); /* 选中元素时的高亮边框 */
  --w-e-textarea-handler-bg-color: var(--el-color-primary); /* 工具按钮或交互元素的背景色 */
  /* Toolbar - css vars */
  --w-e-toolbar-color: var(--el-text-color-regular); /* 工具栏文字颜色 */
  --w-e-toolbar-bg-color: var(--el-bg-color); /* 工具栏背景颜色 */
  --w-e-toolbar-active-color: var(--el-text-color-primary); /* 当前激活项的文字颜色 */
  --w-e-toolbar-active-bg-color: var(--el-fill-color-light); /* 当前激活项的背景颜色 */
  --w-e-toolbar-disabled-color: var(--el-text-color-secondary); /* 禁用项的颜色 */
  --w-e-toolbar-border-color: var(--el-border-color-base); /* 工具栏边框颜色 */
  /*  Modal - css vars */
  --w-e-modal-button-bg-color: var(--el-bg-color-light-3); /* 弹出框按钮背景色 */
  --w-e-modal-button-border-color: var(--el-border-color-light); /* 弹出框按钮边框颜色 */
}

.el-steps {
  display: flex;
  line-height: normal;
}
.el-steps--simple {
  padding: 13px 8%;
  border-radius: 4px;
  background: var(--el-fill-color-light);
}

.el-steps--horizontal {
  white-space: nowrap;
}

.el-steps--vertical {
  height: 100%;
  flex-flow: column;
}
/* Element Chalk Variables */
/** 全局SCSS变量 */
:root {
  --menu-background: #fff;
  --menu-text: #212121;
  --menu-active-text: var(
    --el-menu-active-color
  );
  --menu-hover: #e6f4ff;
  --sidebar-logo-background: #f5f5f5;
  --sidebar-logo-text-color: #333;
}

/** 浅色主题-深蓝色侧边栏配色 */
html.sidebar-color-blue {
  --menu-background: #304156;
  --menu-text: #bfcbd9;
  --menu-active-text: var(--el-menu-active-color);
  --menu-hover: #263445;
  --sidebar-logo-background: #2d3748;
  --sidebar-logo-text-color: #fff;
}

/** 暗黑主题 */
html.dark {
  --menu-background: var(--el-bg-color-overlay);
  --menu-text: #fff;
  --menu-active-text: var(--el-menu-active-color);
  --menu-hover: rgb(0 0 0 / 20%);
  --sidebar-logo-background: rgb(0 0 0 / 20%);
  --sidebar-logo-text-color: #fff;
  /** WangEditor Dark */
  /* Textarea - css vars */
  --w-e-textarea-bg-color: var(--el-bg-color); /* 深色背景 */
  --w-e-textarea-color: var(--el-text-color-primary); /* 浅色文字 */
  --w-e-textarea-border-color: var(--el-border-color); /* 较深的边框颜色 */
  --w-e-textarea-slight-border-color: var(--el-border-color-lighter); /* 更淡一些的边框颜色 */
  --w-e-textarea-slight-color: var(--el-text-color-secondary); /* 浅灰色，用于不那么重要的元素 */
  --w-e-textarea-slight-bg-color: var(--el-bg-color-overlay); /* 稍微亮一点的背景色 */
  --w-e-textarea-selected-border-color: var(--el-color-info-light-5); /* 选中元素时的高亮边框 */
  --w-e-textarea-handler-bg-color: var(--el-color-primary); /* 工具按钮或交互元素的背景色 */
  /* Toolbar - css vars */
  --w-e-toolbar-color: var(--el-text-color-regular); /* 工具栏文字颜色 */
  --w-e-toolbar-bg-color: var(--el-bg-color); /* 工具栏背景颜色 */
  --w-e-toolbar-active-color: var(--el-text-color-primary); /* 当前激活项的文字颜色 */
  --w-e-toolbar-active-bg-color: var(--el-fill-color-light); /* 当前激活项的背景颜色 */
  --w-e-toolbar-disabled-color: var(--el-text-color-secondary); /* 禁用项的颜色 */
  --w-e-toolbar-border-color: var(--el-border-color-base); /* 工具栏边框颜色 */
  /*  Modal - css vars */
  --w-e-modal-button-bg-color: var(--el-bg-color-light-3); /* 弹出框按钮背景色 */
  --w-e-modal-button-border-color: var(--el-border-color-light); /* 弹出框按钮边框颜色 */
}

.el-step {
  position: relative;
  flex-shrink: 1;
}
.el-step:last-of-type .el-step__line {
  display: none;
}

.el-step:last-of-type.is-flex {
  flex-basis: auto !important;
  flex-shrink: 0;
  flex-grow: 0;
}

.el-step:last-of-type .el-step__main, .el-step:last-of-type .el-step__description {
  padding-right: 0;
}

.el-step__head {
  position: relative;
  width: 100%;
}
.el-step__head.is-process {
  color: var(--el-text-color-primary);
  border-color: var(--el-text-color-primary);
}

.el-step__head.is-wait {
  color: var(--el-text-color-placeholder);
  border-color: var(--el-text-color-placeholder);
}

.el-step__head.is-success {
  color: var(--el-color-success);
  border-color: var(--el-color-success);
}

.el-step__head.is-error {
  color: var(--el-color-danger);
  border-color: var(--el-color-danger);
}

.el-step__head.is-finish {
  color: var(--el-color-primary);
  border-color: var(--el-color-primary);
}

.el-step__icon {
  position: relative;
  z-index: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  font-size: 14px;
  box-sizing: border-box;
  background: var(--el-bg-color);
  transition: 0.15s ease-out;
}
.el-step__icon.is-text {
  border-radius: 50%;
  border: 2px solid;
  border-color: currentColor;
}

.el-step__icon.is-icon {
  width: 40px;
}

.el-step__icon-inner {
  display: inline-block;
  user-select: none;
  text-align: center;
  font-weight: bold;
  line-height: 1;
  color: inherit;
}
.el-step__icon-inner[class*=el-icon]:not(.is-status) {
  font-size: 25px;
  font-weight: normal;
}
.el-step__icon-inner.is-status {
  transform: translateY(1px);
}

.el-step__line {
  position: absolute;
  border-color: currentColor;
  background-color: var(--el-text-color-placeholder);
}

.el-step__line-inner {
  display: block;
  border-width: 1px;
  border-style: solid;
  border-color: currentColor;
  transition: 0.15s ease-out;
  box-sizing: border-box;
  width: 0;
  height: 0;
}

.el-step__main {
  white-space: normal;
  text-align: left;
}

.el-step__title {
  font-size: 16px;
  line-height: 38px;
}
.el-step__title.is-process {
  font-weight: bold;
  color: var(--el-text-color-primary);
}

.el-step__title.is-wait {
  color: var(--el-text-color-placeholder);
}

.el-step__title.is-success {
  color: var(--el-color-success);
}

.el-step__title.is-error {
  color: var(--el-color-danger);
}

.el-step__title.is-finish {
  color: var(--el-color-primary);
}

.el-step__description {
  padding-right: 10%;
  margin-top: -5px;
  font-size: 12px;
  line-height: 20px;
  font-weight: normal;
}
.el-step__description.is-process {
  color: var(--el-text-color-primary);
}

.el-step__description.is-wait {
  color: var(--el-text-color-placeholder);
}

.el-step__description.is-success {
  color: var(--el-color-success);
}

.el-step__description.is-error {
  color: var(--el-color-danger);
}

.el-step__description.is-finish {
  color: var(--el-color-primary);
}

.el-step.is-horizontal {
  display: inline-block;
}
.el-step.is-horizontal .el-step__line {
  height: 2px;
  top: 11px;
  left: 0;
  right: 0;
}

.el-step.is-vertical {
  display: flex;
}
.el-step.is-vertical .el-step__head {
  flex-grow: 0;
  width: 24px;
}

.el-step.is-vertical .el-step__main {
  padding-left: 10px;
  flex-grow: 1;
}

.el-step.is-vertical .el-step__title {
  line-height: 24px;
  padding-bottom: 8px;
}

.el-step.is-vertical .el-step__line {
  width: 2px;
  top: 0;
  bottom: 0;
  left: 11px;
}

.el-step.is-vertical .el-step__icon.is-icon {
  width: 24px;
}

.el-step.is-vertical .el-step__description {
  padding-right: 0;
}

.el-step.is-center .el-step__head {
  text-align: center;
}

.el-step.is-center .el-step__main {
  text-align: center;
}

.el-step.is-center .el-step__description {
  padding-left: 20%;
  padding-right: 20%;
}

.el-step.is-center .el-step__line {
  left: 50%;
  right: -50%;
}

.el-step.is-simple {
  display: flex;
  align-items: center;
}
.el-step.is-simple .el-step__head {
  width: auto;
  font-size: 0;
  padding-right: 10px;
}

.el-step.is-simple .el-step__icon {
  background: transparent;
  width: 16px;
  height: 16px;
  font-size: 12px;
}

.el-step.is-simple .el-step__icon-inner[class*=el-icon]:not(.is-status) {
  font-size: 18px;
}
.el-step.is-simple .el-step__icon-inner.is-status {
  transform: scale(0.8) translateY(1px);
}

.el-step.is-simple .el-step__main {
  position: relative;
  display: flex;
  align-items: stretch;
  flex-grow: 1;
}

.el-step.is-simple .el-step__title {
  font-size: 16px;
  line-height: 20px;
}

.el-step.is-simple:not(:last-of-type) .el-step__title {
  max-width: 50%;
  overflow-wrap: break-word;
}

.el-step.is-simple .el-step__arrow {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.el-step.is-simple .el-step__arrow::before, .el-step.is-simple .el-step__arrow::after {
  content: "";
  display: inline-block;
  position: absolute;
  height: 15px;
  width: 1px;
  background: var(--el-text-color-placeholder);
}
.el-step.is-simple .el-step__arrow::before {
  transform: rotate(-45deg) translateY(-4px);
  transform-origin: 0 0;
}
.el-step.is-simple .el-step__arrow::after {
  transform: rotate(45deg) translateY(4px);
  transform-origin: 100% 100%;
}

.el-step.is-simple:last-of-type .el-step__arrow {
  display: none;
}