@charset "UTF-8";
/* Element Chalk Variables */
/** 全局SCSS变量 */
:root {
  --menu-background: #fff;
  --menu-text: #212121;
  --menu-active-text: var(
    --el-menu-active-color
  );
  --menu-hover: #e6f4ff;
  --sidebar-logo-background: #f5f5f5;
  --sidebar-logo-text-color: #333;
}

/** 浅色主题-深蓝色侧边栏配色 */
html.sidebar-color-blue {
  --menu-background: #304156;
  --menu-text: #bfcbd9;
  --menu-active-text: var(--el-menu-active-color);
  --menu-hover: #263445;
  --sidebar-logo-background: #2d3748;
  --sidebar-logo-text-color: #fff;
}

/** 暗黑主题 */
html.dark {
  --menu-background: var(--el-bg-color-overlay);
  --menu-text: #fff;
  --menu-active-text: var(--el-menu-active-color);
  --menu-hover: rgb(0 0 0 / 20%);
  --sidebar-logo-background: rgb(0 0 0 / 20%);
  --sidebar-logo-text-color: #fff;
  /** WangEditor Dark */
  /* Textarea - css vars */
  --w-e-textarea-bg-color: var(--el-bg-color); /* 深色背景 */
  --w-e-textarea-color: var(--el-text-color-primary); /* 浅色文字 */
  --w-e-textarea-border-color: var(--el-border-color); /* 较深的边框颜色 */
  --w-e-textarea-slight-border-color: var(--el-border-color-lighter); /* 更淡一些的边框颜色 */
  --w-e-textarea-slight-color: var(--el-text-color-secondary); /* 浅灰色，用于不那么重要的元素 */
  --w-e-textarea-slight-bg-color: var(--el-bg-color-overlay); /* 稍微亮一点的背景色 */
  --w-e-textarea-selected-border-color: var(--el-color-info-light-5); /* 选中元素时的高亮边框 */
  --w-e-textarea-handler-bg-color: var(--el-color-primary); /* 工具按钮或交互元素的背景色 */
  /* Toolbar - css vars */
  --w-e-toolbar-color: var(--el-text-color-regular); /* 工具栏文字颜色 */
  --w-e-toolbar-bg-color: var(--el-bg-color); /* 工具栏背景颜色 */
  --w-e-toolbar-active-color: var(--el-text-color-primary); /* 当前激活项的文字颜色 */
  --w-e-toolbar-active-bg-color: var(--el-fill-color-light); /* 当前激活项的背景颜色 */
  --w-e-toolbar-disabled-color: var(--el-text-color-secondary); /* 禁用项的颜色 */
  --w-e-toolbar-border-color: var(--el-border-color-base); /* 工具栏边框颜色 */
  /*  Modal - css vars */
  --w-e-modal-button-bg-color: var(--el-bg-color-light-3); /* 弹出框按钮背景色 */
  --w-e-modal-button-border-color: var(--el-border-color-light); /* 弹出框按钮边框颜色 */
}

:root {
  --el-popup-modal-bg-color: var(--el-color-black);
  --el-popup-modal-opacity: 0.5;
}

.v-modal-enter {
  animation: v-modal-in var(--el-transition-duration-fast) ease;
}

.v-modal-leave {
  animation: v-modal-out var(--el-transition-duration-fast) ease forwards;
}

@keyframes v-modal-in {
  0% {
    opacity: 0;
  }
}
@keyframes v-modal-out {
  100% {
    opacity: 0;
  }
}
.v-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: var(--el-popup-modal-opacity);
  background: var(--el-popup-modal-bg-color);
}

.el-popup-parent--hidden {
  overflow: hidden;
}

.el-dialog {
  --el-dialog-width: 50%;
  --el-dialog-margin-top: 15vh;
  --el-dialog-bg-color: var(--el-bg-color);
  --el-dialog-box-shadow: var(--el-box-shadow);
  --el-dialog-title-font-size: var(--el-font-size-large);
  --el-dialog-content-font-size: 14px;
  --el-dialog-font-line-height: var(--el-font-line-height-primary);
  --el-dialog-padding-primary: 16px;
  --el-dialog-border-radius: var(--el-border-radius-base);
  position: relative;
  margin: var(--el-dialog-margin-top, 15vh) auto 50px;
  background: var(--el-dialog-bg-color);
  border-radius: var(--el-dialog-border-radius);
  box-shadow: var(--el-dialog-box-shadow);
  box-sizing: border-box;
  padding: var(--el-dialog-padding-primary);
  width: var(--el-dialog-width, 50%);
  overflow-wrap: break-word;
}
.el-dialog:focus {
  outline: none !important;
}
.el-dialog.is-align-center {
  margin: auto;
}

.el-dialog.is-fullscreen {
  --el-dialog-width: 100%;
  --el-dialog-margin-top: 0;
  margin-bottom: 0;
  height: 100%;
  overflow: auto;
  border-radius: 0px;
}

.el-dialog__wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  margin: 0;
}

.el-dialog.is-draggable .el-dialog__header {
  cursor: move;
  user-select: none;
}

.el-dialog__header {
  padding-bottom: var(--el-dialog-padding-primary);
}
.el-dialog__header.show-close {
  padding-right: calc(var(--el-dialog-padding-primary) + var(--el-message-close-size, 16px));
}

.el-dialog__headerbtn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  width: 48px;
  height: 48px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: var(--el-message-close-size, 16px);
}
.el-dialog__headerbtn .el-dialog__close {
  color: var(--el-color-info);
  font-size: inherit;
}
.el-dialog__headerbtn:focus .el-dialog__close, .el-dialog__headerbtn:hover .el-dialog__close {
  color: var(--el-color-primary);
}

.el-dialog__title {
  line-height: var(--el-dialog-font-line-height);
  font-size: var(--el-dialog-title-font-size);
  color: var(--el-text-color-primary);
}

.el-dialog__body {
  color: var(--el-text-color-regular);
  font-size: var(--el-dialog-content-font-size);
}

.el-dialog__footer {
  padding-top: var(--el-dialog-padding-primary);
  text-align: right;
  box-sizing: border-box;
}

.el-dialog--center {
  text-align: center;
}
.el-dialog--center .el-dialog__body {
  text-align: initial;
}

.el-dialog--center .el-dialog__footer {
  text-align: inherit;
}

.el-modal-dialog.is-penetrable {
  pointer-events: none;
}
.el-modal-dialog.is-penetrable .el-dialog {
  pointer-events: auto;
}

.el-overlay-dialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
}
.el-overlay-dialog.is-closing .el-dialog {
  pointer-events: none;
}

.dialog-fade-enter-active {
  animation: modal-fade-in var(--el-transition-duration);
}
.dialog-fade-enter-active .el-overlay-dialog {
  animation: dialog-fade-in var(--el-transition-duration);
}

.dialog-fade-leave-active {
  animation: modal-fade-out var(--el-transition-duration);
}
.dialog-fade-leave-active .el-overlay-dialog {
  animation: dialog-fade-out var(--el-transition-duration);
}

@keyframes dialog-fade-in {
  0% {
    transform: translate3d(0, -20px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes dialog-fade-out {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, -20px, 0);
    opacity: 0;
  }
}
@keyframes modal-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes modal-fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* Element Chalk Variables */
/** 全局SCSS变量 */
:root {
  --menu-background: #fff;
  --menu-text: #212121;
  --menu-active-text: var(
    --el-menu-active-color
  );
  --menu-hover: #e6f4ff;
  --sidebar-logo-background: #f5f5f5;
  --sidebar-logo-text-color: #333;
}

/** 浅色主题-深蓝色侧边栏配色 */
html.sidebar-color-blue {
  --menu-background: #304156;
  --menu-text: #bfcbd9;
  --menu-active-text: var(--el-menu-active-color);
  --menu-hover: #263445;
  --sidebar-logo-background: #2d3748;
  --sidebar-logo-text-color: #fff;
}

/** 暗黑主题 */
html.dark {
  --menu-background: var(--el-bg-color-overlay);
  --menu-text: #fff;
  --menu-active-text: var(--el-menu-active-color);
  --menu-hover: rgb(0 0 0 / 20%);
  --sidebar-logo-background: rgb(0 0 0 / 20%);
  --sidebar-logo-text-color: #fff;
  /** WangEditor Dark */
  /* Textarea - css vars */
  --w-e-textarea-bg-color: var(--el-bg-color); /* 深色背景 */
  --w-e-textarea-color: var(--el-text-color-primary); /* 浅色文字 */
  --w-e-textarea-border-color: var(--el-border-color); /* 较深的边框颜色 */
  --w-e-textarea-slight-border-color: var(--el-border-color-lighter); /* 更淡一些的边框颜色 */
  --w-e-textarea-slight-color: var(--el-text-color-secondary); /* 浅灰色，用于不那么重要的元素 */
  --w-e-textarea-slight-bg-color: var(--el-bg-color-overlay); /* 稍微亮一点的背景色 */
  --w-e-textarea-selected-border-color: var(--el-color-info-light-5); /* 选中元素时的高亮边框 */
  --w-e-textarea-handler-bg-color: var(--el-color-primary); /* 工具按钮或交互元素的背景色 */
  /* Toolbar - css vars */
  --w-e-toolbar-color: var(--el-text-color-regular); /* 工具栏文字颜色 */
  --w-e-toolbar-bg-color: var(--el-bg-color); /* 工具栏背景颜色 */
  --w-e-toolbar-active-color: var(--el-text-color-primary); /* 当前激活项的文字颜色 */
  --w-e-toolbar-active-bg-color: var(--el-fill-color-light); /* 当前激活项的背景颜色 */
  --w-e-toolbar-disabled-color: var(--el-text-color-secondary); /* 禁用项的颜色 */
  --w-e-toolbar-border-color: var(--el-border-color-base); /* 工具栏边框颜色 */
  /*  Modal - css vars */
  --w-e-modal-button-bg-color: var(--el-bg-color-light-3); /* 弹出框按钮背景色 */
  --w-e-modal-button-border-color: var(--el-border-color-light); /* 弹出框按钮边框颜色 */
}

.el-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2000;
  height: 100%;
  background-color: var(--el-overlay-color-lighter);
  overflow: auto;
}
.el-overlay .el-overlay-root {
  height: 0;
}
/* Element Chalk Variables */
/** 全局SCSS变量 */
:root {
  --menu-background: #fff;
  --menu-text: #212121;
  --menu-active-text: var(
    --el-menu-active-color
  );
  --menu-hover: #e6f4ff;
  --sidebar-logo-background: #f5f5f5;
  --sidebar-logo-text-color: #333;
}

/** 浅色主题-深蓝色侧边栏配色 */
html.sidebar-color-blue {
  --menu-background: #304156;
  --menu-text: #bfcbd9;
  --menu-active-text: var(--el-menu-active-color);
  --menu-hover: #263445;
  --sidebar-logo-background: #2d3748;
  --sidebar-logo-text-color: #fff;
}

/** 暗黑主题 */
html.dark {
  --menu-background: var(--el-bg-color-overlay);
  --menu-text: #fff;
  --menu-active-text: var(--el-menu-active-color);
  --menu-hover: rgb(0 0 0 / 20%);
  --sidebar-logo-background: rgb(0 0 0 / 20%);
  --sidebar-logo-text-color: #fff;
  /** WangEditor Dark */
  /* Textarea - css vars */
  --w-e-textarea-bg-color: var(--el-bg-color); /* 深色背景 */
  --w-e-textarea-color: var(--el-text-color-primary); /* 浅色文字 */
  --w-e-textarea-border-color: var(--el-border-color); /* 较深的边框颜色 */
  --w-e-textarea-slight-border-color: var(--el-border-color-lighter); /* 更淡一些的边框颜色 */
  --w-e-textarea-slight-color: var(--el-text-color-secondary); /* 浅灰色，用于不那么重要的元素 */
  --w-e-textarea-slight-bg-color: var(--el-bg-color-overlay); /* 稍微亮一点的背景色 */
  --w-e-textarea-selected-border-color: var(--el-color-info-light-5); /* 选中元素时的高亮边框 */
  --w-e-textarea-handler-bg-color: var(--el-color-primary); /* 工具按钮或交互元素的背景色 */
  /* Toolbar - css vars */
  --w-e-toolbar-color: var(--el-text-color-regular); /* 工具栏文字颜色 */
  --w-e-toolbar-bg-color: var(--el-bg-color); /* 工具栏背景颜色 */
  --w-e-toolbar-active-color: var(--el-text-color-primary); /* 当前激活项的文字颜色 */
  --w-e-toolbar-active-bg-color: var(--el-fill-color-light); /* 当前激活项的背景颜色 */
  --w-e-toolbar-disabled-color: var(--el-text-color-secondary); /* 禁用项的颜色 */
  --w-e-toolbar-border-color: var(--el-border-color-base); /* 工具栏边框颜色 */
  /*  Modal - css vars */
  --w-e-modal-button-bg-color: var(--el-bg-color-light-3); /* 弹出框按钮背景色 */
  --w-e-modal-button-border-color: var(--el-border-color-light); /* 弹出框按钮边框颜色 */
}

.el-tag {
  --el-tag-font-size: 12px;
  --el-tag-border-radius: 4px;
  --el-tag-border-radius-rounded: 9999px;
}

.el-tag {
  background-color: var(--el-tag-bg-color);
  border-color: var(--el-tag-border-color);
  color: var(--el-tag-text-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  height: 24px;
  padding: 0 9px;
  font-size: var(--el-tag-font-size);
  line-height: 1;
  border-width: 1px;
  border-style: solid;
  border-radius: var(--el-tag-border-radius);
  box-sizing: border-box;
  white-space: nowrap;
  --el-icon-size: 14px;
  --el-tag-bg-color: var(--el-color-primary-light-9);
  --el-tag-border-color: var(--el-color-primary-light-8);
  --el-tag-hover-color: var(--el-color-primary);
}
.el-tag.el-tag--primary {
  --el-tag-bg-color: var(--el-color-primary-light-9);
  --el-tag-border-color: var(--el-color-primary-light-8);
  --el-tag-hover-color: var(--el-color-primary);
}
.el-tag.el-tag--success {
  --el-tag-bg-color: var(--el-color-success-light-9);
  --el-tag-border-color: var(--el-color-success-light-8);
  --el-tag-hover-color: var(--el-color-success);
}
.el-tag.el-tag--warning {
  --el-tag-bg-color: var(--el-color-warning-light-9);
  --el-tag-border-color: var(--el-color-warning-light-8);
  --el-tag-hover-color: var(--el-color-warning);
}
.el-tag.el-tag--danger {
  --el-tag-bg-color: var(--el-color-danger-light-9);
  --el-tag-border-color: var(--el-color-danger-light-8);
  --el-tag-hover-color: var(--el-color-danger);
}
.el-tag.el-tag--error {
  --el-tag-bg-color: var(--el-color-error-light-9);
  --el-tag-border-color: var(--el-color-error-light-8);
  --el-tag-hover-color: var(--el-color-error);
}
.el-tag.el-tag--info {
  --el-tag-bg-color: var(--el-color-info-light-9);
  --el-tag-border-color: var(--el-color-info-light-8);
  --el-tag-hover-color: var(--el-color-info);
}
.el-tag.is-hit {
  border-color: var(--el-color-primary);
}

.el-tag.is-round {
  border-radius: var(--el-tag-border-radius-rounded);
}

.el-tag .el-tag__close {
  flex-shrink: 0;
  color: var(--el-tag-text-color);
}
.el-tag .el-tag__close:hover {
  color: var(--el-color-white);
  background-color: var(--el-tag-hover-color);
}
.el-tag.el-tag--primary {
  --el-tag-text-color: var(--el-color-primary);
}
.el-tag.el-tag--success {
  --el-tag-text-color: var(--el-color-success);
}
.el-tag.el-tag--warning {
  --el-tag-text-color: var(--el-color-warning);
}
.el-tag.el-tag--danger {
  --el-tag-text-color: var(--el-color-danger);
}
.el-tag.el-tag--error {
  --el-tag-text-color: var(--el-color-error);
}
.el-tag.el-tag--info {
  --el-tag-text-color: var(--el-color-info);
}
.el-tag .el-icon {
  display: flex;
  border-radius: 50%;
  cursor: pointer;
  font-size: calc(var(--el-icon-size) - 2px);
  height: var(--el-icon-size);
  width: var(--el-icon-size);
}
.el-tag .el-tag__close {
  padding: 0;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  outline: none;
  overflow: hidden;
  margin-left: 6px;
}
.el-tag .el-tag__close:focus-visible {
  outline: 2px solid var(--el-color-primary);
  outline-offset: 2px;
}
.el-tag--dark {
  --el-tag-text-color: var(--el-color-white);
  --el-tag-bg-color: var(--el-color-primary);
  --el-tag-border-color: var(--el-color-primary);
  --el-tag-hover-color: var(--el-color-primary-light-3);
}
.el-tag--dark.el-tag--primary {
  --el-tag-bg-color: var(--el-color-primary);
  --el-tag-border-color: var(--el-color-primary);
  --el-tag-hover-color: var(--el-color-primary-light-3);
}
.el-tag--dark.el-tag--success {
  --el-tag-bg-color: var(--el-color-success);
  --el-tag-border-color: var(--el-color-success);
  --el-tag-hover-color: var(--el-color-success-light-3);
}
.el-tag--dark.el-tag--warning {
  --el-tag-bg-color: var(--el-color-warning);
  --el-tag-border-color: var(--el-color-warning);
  --el-tag-hover-color: var(--el-color-warning-light-3);
}
.el-tag--dark.el-tag--danger {
  --el-tag-bg-color: var(--el-color-danger);
  --el-tag-border-color: var(--el-color-danger);
  --el-tag-hover-color: var(--el-color-danger-light-3);
}
.el-tag--dark.el-tag--error {
  --el-tag-bg-color: var(--el-color-error);
  --el-tag-border-color: var(--el-color-error);
  --el-tag-hover-color: var(--el-color-error-light-3);
}
.el-tag--dark.el-tag--info {
  --el-tag-bg-color: var(--el-color-info);
  --el-tag-border-color: var(--el-color-info);
  --el-tag-hover-color: var(--el-color-info-light-3);
}
.el-tag--dark.el-tag--primary {
  --el-tag-text-color: var(--el-color-white);
}
.el-tag--dark.el-tag--success {
  --el-tag-text-color: var(--el-color-white);
}
.el-tag--dark.el-tag--warning {
  --el-tag-text-color: var(--el-color-white);
}
.el-tag--dark.el-tag--danger {
  --el-tag-text-color: var(--el-color-white);
}
.el-tag--dark.el-tag--error {
  --el-tag-text-color: var(--el-color-white);
}
.el-tag--dark.el-tag--info {
  --el-tag-text-color: var(--el-color-white);
}

.el-tag--plain {
  --el-tag-bg-color: var(--el-fill-color-blank);
  --el-tag-bg-color: var(--el-fill-color-blank);
  --el-tag-border-color: var(--el-color-primary-light-5);
  --el-tag-hover-color: var(--el-color-primary);
}
.el-tag--plain.el-tag--primary {
  --el-tag-bg-color: var(--el-fill-color-blank);
  --el-tag-border-color: var(--el-color-primary-light-5);
  --el-tag-hover-color: var(--el-color-primary);
}
.el-tag--plain.el-tag--success {
  --el-tag-bg-color: var(--el-fill-color-blank);
  --el-tag-border-color: var(--el-color-success-light-5);
  --el-tag-hover-color: var(--el-color-success);
}
.el-tag--plain.el-tag--warning {
  --el-tag-bg-color: var(--el-fill-color-blank);
  --el-tag-border-color: var(--el-color-warning-light-5);
  --el-tag-hover-color: var(--el-color-warning);
}
.el-tag--plain.el-tag--danger {
  --el-tag-bg-color: var(--el-fill-color-blank);
  --el-tag-border-color: var(--el-color-danger-light-5);
  --el-tag-hover-color: var(--el-color-danger);
}
.el-tag--plain.el-tag--error {
  --el-tag-bg-color: var(--el-fill-color-blank);
  --el-tag-border-color: var(--el-color-error-light-5);
  --el-tag-hover-color: var(--el-color-error);
}
.el-tag--plain.el-tag--info {
  --el-tag-bg-color: var(--el-fill-color-blank);
  --el-tag-border-color: var(--el-color-info-light-5);
  --el-tag-hover-color: var(--el-color-info);
}

.el-tag.is-closable {
  padding-right: 5px;
}
.el-tag--large {
  padding: 0 11px;
  height: 32px;
  --el-icon-size: 16px;
}
.el-tag--large .el-tag__close {
  margin-left: 8px;
}
.el-tag--large.is-closable {
  padding-right: 7px;
}

.el-tag--small {
  padding: 0 7px;
  height: 20px;
  --el-icon-size: 12px;
}
.el-tag--small .el-tag__close {
  margin-left: 4px;
}
.el-tag--small.is-closable {
  padding-right: 3px;
}

.el-tag--small .el-icon-close {
  transform: scale(0.8);
}

.el-tag.el-tag--primary.is-hit {
  border-color: var(--el-color-primary);
}

.el-tag.el-tag--success.is-hit {
  border-color: var(--el-color-success);
}

.el-tag.el-tag--warning.is-hit {
  border-color: var(--el-color-warning);
}

.el-tag.el-tag--danger.is-hit {
  border-color: var(--el-color-danger);
}

.el-tag.el-tag--error.is-hit {
  border-color: var(--el-color-error);
}

.el-tag.el-tag--info.is-hit {
  border-color: var(--el-color-info);
}